* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.hidden {
  display: none !important; }

html {
  font-size: 10px; }

body {
  font-family: "Roboto", sans-serif;
  color: #515151;
  font-size: 1.4rem;
  overflow-x: hidden; }

.mainContainer {
  width: 1170px;
  margin: auto;
  padding: 0 15px; }

.mainHeader {
  background: #43a047;
  color: #fff;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1000;
  -webkit-transition: .5s;
  transition: .5s;
  padding: 2px 0;
  -webkit-box-shadow: 0 4px 13px 0 rgba(51, 51, 51, 0.6);
          box-shadow: 0 4px 13px 0 rgba(51, 51, 51, 0.6); }
  .mainHeader .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .mainHeader .logo {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1; }
  .mainHeader .menuTrigger {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3; }
  .mainHeader .btnPrimary {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3; }
  .mainHeader .mainMenu {
    list-style: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    max-width: -webkit-calc(100% - 400px);
    max-width: calc(100% - 400px);
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2; }
    .mainHeader .mainMenu a {
      font-size: 1.6rem;
      color: #fff;
      text-transform: uppercase;
      display: block;
      padding: 10px 20px; }
    .mainHeader .mainMenu li.active a {
      background: #ffc107;
      color: #000;
      -webkit-box-shadow: 0 14px 26px -12px rgba(0, 0, 0, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
              box-shadow: 0 14px 26px -12px rgba(0, 0, 0, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
      text-decoration: none; }

.main {
  margin-top: 71px; }

.logo {
  display: block;
  height: 68px;
  width: 180px;
  margin-right: 20px;
  background: url("../img/logoSm.png") no-repeat;
  background-size: contain; }

.btnPrimary {
  background: #2e7d32;
  color: #fff;
  font-size: 1.6rem;
  padding: 10px 26px;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  white-space: nowrap;
  border: 1px solid #2b742e;
  -webkit-box-shadow: 0 2px 2px 0 rgba(43, 116, 46, 0.14), 0 3px 1px -2px rgba(43, 116, 46, 0.2), 0 1px 5px 0 rgba(43, 116, 46, 0.12);
          box-shadow: 0 2px 2px 0 rgba(43, 116, 46, 0.14), 0 3px 1px -2px rgba(43, 116, 46, 0.2), 0 1px 5px 0 rgba(43, 116, 46, 0.12);
  -webkit-transition: -webkit-box-shadow .2s;
  transition: -webkit-box-shadow .2s;
  transition: box-shadow .2s;
  transition: box-shadow .2s, -webkit-box-shadow .2s; }
  .btnPrimary:hover, .btnPrimary:focus, .btnPrimary:active {
    color: #fff;
    text-decoration: none;
    -webkit-box-shadow: 0 14px 26px -12px rgba(43, 116, 46, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(43, 116, 46, 0.2);
            box-shadow: 0 14px 26px -12px rgba(43, 116, 46, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(43, 116, 46, 0.2); }

.btnSecondary {
  background: #43a047;
  color: #fff;
  font-size: 1.6rem;
  padding: 10px 26px;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  border: 1px solid #43a047;
  white-space: nowrap;
  -webkit-box-shadow: 0 2px 2px 0 rgba(43, 116, 46, 0.14), 0 3px 1px -2px rgba(43, 116, 46, 0.2), 0 1px 5px 0 rgba(43, 116, 46, 0.12);
          box-shadow: 0 2px 2px 0 rgba(43, 116, 46, 0.14), 0 3px 1px -2px rgba(43, 116, 46, 0.2), 0 1px 5px 0 rgba(43, 116, 46, 0.12);
  -webkit-transition: -webkit-box-shadow .2s;
  transition: -webkit-box-shadow .2s;
  transition: box-shadow .2s;
  transition: box-shadow .2s, -webkit-box-shadow .2s; }
  .btnSecondary:hover, .btnSecondary:focus, .btnSecondary:active {
    color: #fff;
    text-decoration: none;
    -webkit-box-shadow: 0 14px 26px -12px rgba(43, 116, 46, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(43, 116, 46, 0.2);
            box-shadow: 0 14px 26px -12px rgba(43, 116, 46, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(43, 116, 46, 0.2); }

.headingSlide {
  background: url("../img/hsbg.jpg") no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 750px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 15px;
  -webkit-box-shadow: 0 4px 13px 0 rgba(51, 51, 51, 0.6);
          box-shadow: 0 4px 13px 0 rgba(51, 51, 51, 0.6); }
  .headingSlide .content {
    max-width: 840px;
    margin: auto;
    text-align: center; }
  .headingSlide .btnSecondary {
    padding: 16px 126px;
    -webkit-border-radius: 3px;
            border-radius: 3px; }
  .headingSlide h1 {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #b2b2b2; }
  .headingSlide p {
    font-size: 1.9rem;
    color: #b2b2b2;
    margin-bottom: 35px; }

h1 {
  font-size: 6rem;
  text-transform: uppercase;
  color: #2e7d32;
  text-align: center;
  font-weight: 700; }

h2 {
  font-size: 4.8rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  color: #303030; }

.servicesSlide {
  padding: 80px 0; }
  .servicesSlide h2 {
    margin-bottom: 20px; }
    .servicesSlide h2 span {
      color: #2e7d32; }
  .servicesSlide .figuresWrapper {
    margin: 0 -15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .servicesSlide .figuresWrapper .figure {
      width: 25%;
      padding: 15px;
      text-align: center; }
  .servicesSlide .ico {
    width: 65px;
    height: 40px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    margin-bottom: 25px; }
    .servicesSlide .ico.si1 {
      background-image: url("../img/si1.png"); }
    .servicesSlide .ico.si2 {
      background-image: url("../img/si2.png"); }
    .servicesSlide .ico.si3 {
      background-image: url("../img/si3.png"); }
    .servicesSlide .ico.si4 {
      background-image: url("../img/si4.png"); }
    .servicesSlide .ico.si5 {
      background-image: url("../img/si5.png"); }
    .servicesSlide .ico.si6 {
      background-image: url("../img/si6.png"); }
    .servicesSlide .ico.si7 {
      background-image: url("../img/si7.png"); }
    .servicesSlide .ico.si8 {
      background-image: url("../img/si8.png"); }
  .servicesSlide h4 {
    color: #43a047;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.8rem;
    font-weight: 500; }

.headingSubText {
  text-align: center;
  width: 70%;
  margin: auto;
  margin-bottom: 40px; }

.advSlide {
  background: #f5f5f5;
  -webkit-box-shadow: 0 0 13px 2px rgba(51, 51, 51, 0.6);
          box-shadow: 0 0 13px 2px rgba(51, 51, 51, 0.6); }
  .advSlide .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .advSlide .left {
    padding: 80px 0;
    width: 45%; }
  .advSlide .right {
    width: 55%;
    background-image: url("../img/asbg.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;
    margin-left: 20px; }
  .advSlide h3 {
    color: #8d8d8d;
    margin-bottom: 30px; }
    .advSlide h3 span {
      color: #2e7d32; }
  .advSlide h4 {
    color: #222; }
    .advSlide h4 span {
      color: #43a047; }
  .advSlide .caption p {
    color: #515151;
    font-size: 1.6rem; }
  .advSlide li + li {
    margin-top: 15px; }
  .advSlide li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .advSlide .ico {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    background-size: contain;
    background-position: left top;
    background-repeat: no-repeat; }
    .advSlide .ico.ai1 {
      background-image: url("../img/ai1.png"); }
    .advSlide .ico.ai2 {
      background-image: url("../img/ai2.png"); }
    .advSlide .ico.ai3 {
      background-image: url("../img/ai3.png"); }

.advSlide.aboutUsSlide {
  background: #fff url(../img/aubg.png) no-repeat;
  background-position: top;
  background-size: 100%;
  -webkit-box-shadow: none;
          box-shadow: none; }
  .advSlide.aboutUsSlide .right {
    background-position: center 75%; }
  .advSlide.aboutUsSlide .subText.big {
    font-size: 1.7rem; }
  .advSlide.aboutUsSlide .advList {
    margin-bottom: 30px; }

.servicesSlide.aboutUsSlide {
  -webkit-box-shadow: 0 0 13px 2px rgba(51, 51, 51, 0.6);
          box-shadow: 0 0 13px 2px rgba(51, 51, 51, 0.6);
  background: #f5f5f5 url("../img/ssbg.png");
  background-repeat: repeat-x;
  background-position: bottom; }
  .servicesSlide.aboutUsSlide h3 {
    color: #8d8d8d;
    margin-bottom: 30px;
    text-align: center; }
    .servicesSlide.aboutUsSlide h3 span {
      color: #2e7d32; }

.hasLine {
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 40px; }
  .hasLine:after {
    content: "";
    display: block;
    height: 3px;
    width: 100px;
    background: #ffc107;
    position: absolute;
    bottom: 0;
    left: 0; }

h3 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
  color: #000; }

h4 {
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 500; }

.schemeSlide {
  padding: 80px 0; }
  .schemeSlide h3 {
    color: #8d8d8d;
    margin-bottom: 30px;
    text-align: center; }
    .schemeSlide h3 span {
      color: #2e7d32; }

.workingScheme .owl-nav {
  display: none; }

.workingScheme .item {
  text-align: center;
  overflow: hidden; }
  .workingScheme .item .icoHolder {
    width: 75px;
    height: 75px;
    position: relative;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background: #43a047;
    margin: auto;
    font-size: 48px;
    color: #fff;
    line-height: 75px; }
  .workingScheme .item .circleDivider {
    width: 38px;
    height: 38px;
    border: 8px solid;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background: #fff;
    margin: auto;
    position: relative; }
    .workingScheme .item .circleDivider:before {
      content: "";
      display: block;
      width: 100px;
      height: 8px;
      position: absolute;
      background: #c3c1c1;
      left: -118px;
      top: 50%;
      margin-top: -4px; }
    .workingScheme .item .circleDivider:after {
      content: "";
      display: block;
      width: 100px;
      height: 8px;
      position: absolute;
      background: #c3c1c1;
      right: -118px;
      top: 50%;
      margin-top: -4px; }
  .workingScheme .item .textHolder .qnt {
    font-size: 2.2rem;
    font-weight: 700;
    color: #000; }
  .workingScheme .item .textHolder .text {
    font-size: 1.8rem;
    color: #000;
    text-transform: uppercase;
    margin: auto;
    height: 50px; }

.workingScheme .owl-item:nth-child(odd) .circleDivider {
  border-color: #2e7d32; }

.workingScheme .owl-item:nth-child(odd) .icoHolder {
  margin-bottom: 20px; }
  .workingScheme .owl-item:nth-child(odd) .icoHolder:after {
    content: "";
    display: block;
    width: 8px;
    height: 10px;
    position: absolute;
    background: #c3c1c1;
    bottom: -15px;
    left: 50%;
    margin-left: -4px; }

.workingScheme .owl-item:nth-child(odd) .textHolder {
  margin-top: 14px; }

.workingScheme .owl-item:nth-child(even) .circleDivider {
  border-color: #43a047; }

.workingScheme .owl-item:nth-child(even) .icoHolder {
  margin-top: 20px; }
  .workingScheme .owl-item:nth-child(even) .icoHolder:after {
    content: "";
    display: block;
    width: 8px;
    height: 10px;
    position: absolute;
    background: #c3c1c1;
    top: -15px;
    left: 50%;
    margin-left: -4px; }

.workingScheme .owl-item:nth-child(even) .textHolder {
  margin-bottom: 14px; }

.gallerySlide {
  padding: 80px 0;
  background: #f5f5f5;
  -webkit-box-shadow: 0 0 13px 2px rgba(51, 51, 51, 0.6);
          box-shadow: 0 0 13px 2px rgba(51, 51, 51, 0.6); }
  .gallerySlide h3 {
    color: #8d8d8d;
    margin-bottom: 30px;
    text-align: center; }
    .gallerySlide h3 span {
      color: #2e7d32; }
  .gallerySlide .galleryHolder .filterTrigger {
    font-size: 42px;
    line-height: 1em;
    background: #43a047;
    color: #fff;
    padding: 5px 26px;
    border-bottom: 1px solid #fff; }
  .gallerySlide .galleryHolder .filter {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none;
    margin-bottom: 20px; }
    .gallerySlide .galleryHolder .filter li a {
      display: block;
      font-size: 1.8rem;
      font-weight: 700;
      color: #000;
      text-transform: uppercase;
      padding: 10px 26px; }
      .gallerySlide .galleryHolder .filter li a:hover, .gallerySlide .galleryHolder .filter li a:active, .gallerySlide .galleryHolder .filter li a:focus {
        text-decoration: none; }
    .gallerySlide .galleryHolder .filter li.active a {
      background: #43a047;
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      display: inline-block;
      border: 1px solid #43a047;
      -webkit-box-shadow: 0 2px 2px 0 rgba(43, 116, 46, 0.14), 0 3px 1px -2px rgba(43, 116, 46, 0.2), 0 1px 5px 0 rgba(43, 116, 46, 0.12);
              box-shadow: 0 2px 2px 0 rgba(43, 116, 46, 0.14), 0 3px 1px -2px rgba(43, 116, 46, 0.2), 0 1px 5px 0 rgba(43, 116, 46, 0.12); }
  .gallerySlide .galleryHolder .itemsHolder {
    margin: 0 -15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .gallerySlide .galleryHolder .itemsHolder .item {
      width: 33.333333%;
      padding: 15px; }
      .gallerySlide .galleryHolder .itemsHolder .item .img {
        height: 360px;
        border: 7px solid #fff;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        -webkit-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.1);
                box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.1);
        -webkit-transition: -webkit-box-shadow .3s;
        transition: -webkit-box-shadow .3s;
        transition: box-shadow .3s;
        transition: box-shadow .3s, -webkit-box-shadow .3s;
        position: relative; }
        .gallerySlide .galleryHolder .itemsHolder .item .img:hover {
          -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.58);
                  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.58); }
    .gallerySlide .galleryHolder .itemsHolder .infoHolder {
      background: rgba(67, 160, 71, 0.9);
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      -webkit-transition: .3s;
      transition: .3s; }
      .gallerySlide .galleryHolder .itemsHolder .infoHolder:hover {
        opacity: 1; }
    .gallerySlide .galleryHolder .itemsHolder .btnHolder {
      width: 100%;
      list-style: none;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-bottom: 15px; }
      .gallerySlide .galleryHolder .itemsHolder .btnHolder a {
        display: block;
        background: #fff;
        text-align: center;
        width: 35px;
        height: 35px;
        line-height: 35px;
        color: #43a047;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        font-size: 1.8rem;
        -webkit-box-shadow: 0 2px 2px 0 rgba(43, 116, 46, 0.25), 0 3px 1px -2px rgba(43, 116, 46, 0.5), 0 1px 5px 0 rgba(43, 116, 46, 0.24);
                box-shadow: 0 2px 2px 0 rgba(43, 116, 46, 0.25), 0 3px 1px -2px rgba(43, 116, 46, 0.5), 0 1px 5px 0 rgba(43, 116, 46, 0.24);
        -webkit-transition: -webkit-box-shadow .3s;
        transition: -webkit-box-shadow .3s;
        transition: box-shadow .3s;
        transition: box-shadow .3s, -webkit-box-shadow .3s; }
        .gallerySlide .galleryHolder .itemsHolder .btnHolder a:hover, .gallerySlide .galleryHolder .itemsHolder .btnHolder a:focus, .gallerySlide .galleryHolder .itemsHolder .btnHolder a:active {
          text-decoration: none;
          -webkit-box-shadow: 0 14px 26px -12px rgba(43, 116, 46, 0.64), 0 4px 23px 0 rgba(0, 0, 0, 0.24), 0 8px 10px -5px rgba(43, 116, 46, 0.4);
                  box-shadow: 0 14px 26px -12px rgba(43, 116, 46, 0.64), 0 4px 23px 0 rgba(0, 0, 0, 0.24), 0 8px 10px -5px rgba(43, 116, 46, 0.4); }
      .gallerySlide .galleryHolder .itemsHolder .btnHolder li + li {
        margin-left: 15px; }
    .gallerySlide .galleryHolder .itemsHolder h4 {
      width: 100%;
      text-align: center;
      font-size: 2rem;
      margin-bottom: 5px; }
      .gallerySlide .galleryHolder .itemsHolder h4 a {
        color: #fff; }
    .gallerySlide .galleryHolder .itemsHolder p {
      width: 100%;
      text-align: center; }
    .gallerySlide .galleryHolder .itemsHolder .info {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      width: 100%;
      color: #fff; }
    .gallerySlide .galleryHolder .itemsHolder .moreImgHolder {
      text-align: center; }
      .gallerySlide .galleryHolder .itemsHolder .moreImgHolder img {
        margin: auto;
        margin-bottom: 15px; }
      .gallerySlide .galleryHolder .itemsHolder .moreImgHolder a {
        text-transform: uppercase;
        text-decoration: underline;
        font-weight: 700;
        color: #43a047;
        font-size: 2.2rem; }
        .gallerySlide .galleryHolder .itemsHolder .moreImgHolder a:hover {
          text-decoration: none; }

.projectsSlide {
  padding: 80px 0; }
  .projectsSlide .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0 -15px; }
    .projectsSlide .wrapper .item {
      width: 25%;
      padding: 0 15px;
      text-align: center; }
    .projectsSlide .wrapper .info {
      font-size: 3.4rem;
      color: #43a047;
      font-weight: 700; }
    .projectsSlide .wrapper .zmdi {
      margin-right: 10px; }
    .projectsSlide .wrapper .caption {
      color: #1f1f1f;
      text-transform: uppercase;
      font-size: 2.2rem; }

.commentsSlide {
  padding: 80px 0;
  -webkit-box-shadow: 0 0 13px 2px rgba(51, 51, 51, 0.6);
          box-shadow: 0 0 13px 2px rgba(51, 51, 51, 0.6);
  background: #4fa353 url("../img/cbg.png");
  background-repeat: repeat-x; }
  .commentsSlide h3 {
    color: #fff;
    text-align: center;
    margin-bottom: 50px; }

.partnersSlide {
  padding: 80px 0; }

.feedBackFormSlide {
  padding: 80px 0;
  background: #43a047 url("../img/map.png") no-repeat 20% center;
  color: #fff; }
  .feedBackFormSlide h3 {
    color: #fff;
    text-align: center;
    margin-bottom: 50px; }
  .feedBackFormSlide .contactList {
    font-size: 1.8rem;
    list-style: none; }
    .feedBackFormSlide .contactList li {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start;
      margin-bottom: 10px; }
      .feedBackFormSlide .contactList li .icoHolder {
        width: 25px;
        text-align: center;
        font-size: 2.5rem;
        color: #ffc107; }
      .feedBackFormSlide .contactList li .caption {
        margin-left: 10px;
        width: -webkit-calc(100% - 25px);
        width: calc(100% - 25px);
        padding-top: 4px; }
  .feedBackFormSlide .form-control {
    border: 0;
    -webkit-border-radius: 0;
            border-radius: 0;
    border-bottom: 1px solid #fff;
    background: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    outline: none;
    font-size: 1.8rem;
    padding: 10px 12px 10px 30px;
    height: auto;
    resize: none;
    color: #fff; }
    .feedBackFormSlide .form-control::-webkit-input-placeholder {
      color: #fff; }
    .feedBackFormSlide .form-control::-moz-placeholder {
      color: #fff; }
    .feedBackFormSlide .form-control:-moz-placeholder {
      color: #fff; }
    .feedBackFormSlide .form-control:-ms-input-placeholder {
      color: #fff; }
  .feedBackFormSlide .iputHolder {
    position: relative;
    color: #ffc107; }
    .feedBackFormSlide .iputHolder .zmdi {
      font-size: 2.5rem;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      left: 0; }
  .feedBackFormSlide .buttonHolder {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .feedBackFormSlide .buttonHolder .checkbox {
      margin-left: 30px;
      font-size: 1.6rem; }
  .feedBackFormSlide .form-group {
    margin-bottom: 30px; }

.mainFooter {
  -webkit-box-shadow: 0 0 13px 2px rgba(51, 51, 51, 0.6);
          box-shadow: 0 0 13px 2px rgba(51, 51, 51, 0.6);
  padding: 15px 0;
  background: #2e7d32;
  color: #fff;
  font-size: 1.8rem; }
  .mainFooter .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .mainFooter .wrapper .copyright {
      width: 50%;
      line-height: 31px; }
    .mainFooter .wrapper .socList {
      width: 50%;
      list-style: none;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
      .mainFooter .wrapper .socList a {
        color: #fff;
        font-size: 2.2rem; }
      .mainFooter .wrapper .socList li + li {
        margin-left: 10px; }

.partnersCarousel .owl-item img {
  width: auto;
  margin: auto; }

.partnersCarousel .owl-prev {
  left: 0; }

.partnersCarousel .owl-next {
  right: 0; }

.partnersCarousel .owl-next,
.partnersCarousel .owl-prev {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  vertical-align: middle;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #43a047;
  color: #fff;
  -webkit-box-shadow: 0 2px 2px 0 rgba(43, 116, 46, 0.25), 0 3px 1px -2px rgba(43, 116, 46, 0.5), 0 1px 5px 0 rgba(43, 116, 46, 0.24);
          box-shadow: 0 2px 2px 0 rgba(43, 116, 46, 0.25), 0 3px 1px -2px rgba(43, 116, 46, 0.5), 0 1px 5px 0 rgba(43, 116, 46, 0.24);
  -webkit-transition: -webkit-box-shadow .3s;
  transition: -webkit-box-shadow .3s;
  transition: box-shadow .3s;
  transition: box-shadow .3s, -webkit-box-shadow .3s; }
  .partnersCarousel .owl-next:hover, .partnersCarousel .owl-next:active, .partnersCarousel .owl-next:focus,
  .partnersCarousel .owl-prev:hover,
  .partnersCarousel .owl-prev:active,
  .partnersCarousel .owl-prev:focus {
    -webkit-box-shadow: 0 14px 26px -12px rgba(43, 116, 46, 0.64), 0 4px 23px 0 rgba(0, 0, 0, 0.24), 0 8px 10px -5px rgba(43, 116, 46, 0.4);
            box-shadow: 0 14px 26px -12px rgba(43, 116, 46, 0.64), 0 4px 23px 0 rgba(0, 0, 0, 0.24), 0 8px 10px -5px rgba(43, 116, 46, 0.4); }

.commentsTabsHolder .navTabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  padding: 30px 0; }
  .commentsTabsHolder .navTabs li {
    color: #fff;
    text-align: center; }
    .commentsTabsHolder .navTabs li a {
      color: #fff;
      text-decoration: none; }
      .commentsTabsHolder .navTabs li a:hover .img {
        -webkit-box-shadow: 0 0 19px 2px rgba(0, 0, 0, 0.62);
                box-shadow: 0 0 19px 2px rgba(0, 0, 0, 0.62); }
    .commentsTabsHolder .navTabs li .img {
      display: block;
      width: 105px;
      height: 105px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      margin: auto;
      margin-bottom: 10px;
      -webkit-box-shadow: 0 0 19px 1px rgba(0, 0, 0, 0.59);
              box-shadow: 0 0 19px 1px rgba(0, 0, 0, 0.59);
      -webkit-transition: .3s;
      transition: .3s;
      position: relative;
      z-index: 2; }
      .commentsTabsHolder .navTabs li .img:before {
        opacity: 0;
        -webkit-transition: opacity .2s;
        transition: opacity .2s;
        content: "";
        display: block;
        background-image: url("../img/re.png");
        background-repeat: no-repeat;
        background-size: contain;
        width: 92px;
        height: 52px;
        position: absolute;
        top: -44px;
        left: 50%;
        -webkit-transform: translate(-50%);
            -ms-transform: translate(-50%);
                transform: translate(-50%);
        z-index: 0; }
    .commentsTabsHolder .navTabs li .name {
      font-size: 1.8rem;
      font-weight: 700;
      text-transform: uppercase;
      opacity: 0;
      -webkit-transition: opacity .2s;
      transition: opacity .2s; }
    .commentsTabsHolder .navTabs li .pos {
      font-size: 1.6rem;
      opacity: 0;
      -webkit-transition: opacity .2s;
      transition: opacity .2s; }
    .commentsTabsHolder .navTabs li.active .img {
      -webkit-box-shadow: 0 0 19px 2px rgba(0, 0, 0, 0.62);
              box-shadow: 0 0 19px 2px rgba(0, 0, 0, 0.62); }
      .commentsTabsHolder .navTabs li.active .img:before {
        opacity: 1; }
    .commentsTabsHolder .navTabs li.active .name {
      opacity: 1; }
    .commentsTabsHolder .navTabs li.active .pos {
      opacity: 1; }
  .commentsTabsHolder .navTabs li + li {
    margin-left: 40px; }

.commentsTabsHolder .tabsHolder {
  position: relative;
  width: -webkit-calc(100% - 30px);
  width: calc(100% - 30px);
  margin: auto; }

.commentsTabsHolder .tabPane {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0; }
  .commentsTabsHolder .tabPane.active {
    opacity: 1; }

.commentsTabsHolder .commentFigure {
  color: #fff;
  padding: 35px;
  border: 1px solid #add4af;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 300;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.commentsTabsHolder .tabsNav .owl-next,
.commentsTabsHolder .tabsNav .owl-prev {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  vertical-align: middle;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #fff;
  color: #43a047;
  -webkit-box-shadow: 0 2px 2px 0 rgba(43, 116, 46, 0.25), 0 3px 1px -2px rgba(43, 116, 46, 0.5), 0 1px 5px 0 rgba(43, 116, 46, 0.24);
          box-shadow: 0 2px 2px 0 rgba(43, 116, 46, 0.25), 0 3px 1px -2px rgba(43, 116, 46, 0.5), 0 1px 5px 0 rgba(43, 116, 46, 0.24);
  transition: -webkit-box-shadow .3s;
  -webkit-transition: -webkit-box-shadow .3s;
  transition: box-shadow .3s;
  transition: box-shadow .3s, -webkit-box-shadow .3s;
  z-index: 5; }

.commentsTabsHolder .tabsNav .owl-next {
  right: -15px; }

.commentsTabsHolder .tabsNav .owl-prev {
  left: -15px; }

.blogListHolder {
  padding: 80px 0;
  background: #fff url(../img/aubg.png) no-repeat;
  background-position: top;
  background-size: 100%; }
  .blogListHolder .filterTrigger {
    font-size: 42px;
    line-height: 1em;
    background: #43a047;
    color: #fff;
    padding: 5px 26px;
    border-bottom: 1px solid #fff;
    text-align: right; }
  .blogListHolder .filter {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none;
    margin-bottom: 35px; }
    .blogListHolder .filter li a {
      display: block;
      font-size: 1.8rem;
      font-weight: 700;
      color: #000;
      text-transform: uppercase;
      padding: 10px 26px; }
      .blogListHolder .filter li a:hover, .blogListHolder .filter li a:active, .blogListHolder .filter li a:focus {
        text-decoration: none; }
    .blogListHolder .filter li.active a {
      background: #43a047;
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      display: inline-block;
      border: 1px solid #43a047;
      -webkit-box-shadow: 0 2px 2px 0 rgba(43, 116, 46, 0.14), 0 3px 1px -2px rgba(43, 116, 46, 0.2), 0 1px 5px 0 rgba(43, 116, 46, 0.12);
              box-shadow: 0 2px 2px 0 rgba(43, 116, 46, 0.14), 0 3px 1px -2px rgba(43, 116, 46, 0.2), 0 1px 5px 0 rgba(43, 116, 46, 0.12); }

.blogListItem {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 60px; }
  .blogListItem .date {
    background: #43a047;
    padding: 15px;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
    margin-right: 20px; }
    .blogListItem .date .day {
      font-size: 3rem;
      line-height: 3.1rem; }
  .blogListItem h4 {
    text-transform: none;
    font-size: 2.6rem;
    margin-bottom: 15px; }
    .blogListItem h4 a {
      color: #515151;
      text-decoration: none; }
      .blogListItem h4 a:hover, .blogListItem h4 a:active, .blogListItem h4 a:focus {
        color: #43a047; }
  .blogListItem .itemPreview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 25px; }
    .blogListItem .itemPreview .img {
      width: 240px;
      height: 240px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      display: block;
      -webkit-border-radius: 5px;
              border-radius: 5px; }
    .blogListItem .itemPreview .text {
      width: -webkit-calc(100% - 240px);
      width: calc(100% - 240px);
      padding-left: 15px; }
      .blogListItem .itemPreview .text p {
        color: #515151;
        font-size: 1.3rem;
        line-height: 2rem;
        margin-bottom: 15px; }
      .blogListItem .itemPreview .text .more {
        color: #2e7d32;
        font-weight: 600; }
        .blogListItem .itemPreview .text .more .fa {
          margin-left: 5px; }
  .blogListItem .tagsInfo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .blogListItem .tagsList {
    list-style: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .blogListItem .tagsList li {
      margin-left: 5px; }
      .blogListItem .tagsList li a {
        color: #2e7d32; }
  .blogListItem .infoLine {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 10px 0;
    border: 1px solid #c0c0c0;
    border-left: 0;
    border-right: 0;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .blogListItem .infoLine .viewInfo,
    .blogListItem .infoLine .socInfo,
    .blogListItem .infoLine .socList,
    .blogListItem .infoLine .tagsList {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
    .blogListItem .infoLine ul {
      list-style: none; }
    .blogListItem .infoLine .views {
      margin-left: 10px; }
    .blogListItem .infoLine a {
      color: #2e7d32; }
    .blogListItem .infoLine .viewInfo .fa {
      margin: 0 5px; }
    .blogListItem .infoLine .socList li {
      margin-left: 10px; }
      .blogListItem .infoLine .socList li a {
        font-size: 2rem; }

.confirmOrderFormHolder {
  max-width: 960px;
  margin: auto; }

.pagination > li > a,
.pagination > li > span {
  font-size: 1.7rem;
  -webkit-border-radius: 3px !important;
          border-radius: 3px !important;
  border: 1px solid #e7e7e7;
  color: #000;
  margin-left: 10px;
  -webkit-transition: .2s;
  transition: .2s; }

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  background: #2e7d32;
  border-color: #2e7d32; }

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  background: #2e7d32;
  border-color: #2e7d32;
  color: #fff; }

.inputIconHolder {
  position: relative; }
  .inputIconHolder button {
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    font-size: 1.8rem;
    background: transparent;
    color: #bababa;
    border: none;
    padding: 0; }
  .inputIconHolder .form-control {
    -webkit-border-radius: 0;
            border-radius: 0;
    border: 1px solid #c0c0c0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    outline: none;
    height: auto;
    padding: 10px 0;
    padding-right: 25px;
    color: #bababa; }

.blogAsideMenu .block {
  margin-bottom: 40px; }

.blogAsideMenu .socList {
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px; }
  .blogAsideMenu .socList a {
    color: #2e7d32;
    font-size: 3rem; }
  .blogAsideMenu .socList li + li {
    margin-left: 15px; }

.blogAsideMenu h3 {
  text-transform: none;
  margin-bottom: 15px;
  font-size: 2.5rem;
  font-weight: 400; }

.blogAsideMenu .signUsFormHolder .inputIconHolder {
  margin-bottom: 15px; }

.blogAsideMenu .categoryList {
  list-style: none; }
  .blogAsideMenu .categoryList a {
    display: block;
    font-size: 1.4rem;
    color: #515151;
    padding: 8px 0;
    text-decoration: none;
    -webkit-transition: all .3s;
    transition: all .3s; }
    .blogAsideMenu .categoryList a:hover {
      background: #43a047;
      color: #fff;
      padding: 8px 15px;
      -webkit-box-shadow: 0 14px 26px -12px rgba(43, 116, 46, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(43, 116, 46, 0.2);
              box-shadow: 0 14px 26px -12px rgba(43, 116, 46, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(43, 116, 46, 0.2); }
    .blogAsideMenu .categoryList a:before {
      content: "\f105";
      font: normal normal normal 14px/1 FontAwesome;
      margin-right: 15px; }
  .blogAsideMenu .categoryList li.active a {
    background: #43a047;
    color: #fff;
    padding: 8px 15px;
    -webkit-box-shadow: 0 14px 26px -12px rgba(43, 116, 46, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(43, 116, 46, 0.2);
            box-shadow: 0 14px 26px -12px rgba(43, 116, 46, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(43, 116, 46, 0.2); }

.blogAsideMenu .latestPostsList {
  list-style: none; }
  .blogAsideMenu .latestPostsList a {
    display: block;
    font-size: 1.4rem;
    color: #515151;
    padding: 8px 0;
    padding-left: 20px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
    .blogAsideMenu .latestPostsList a:before {
      content: "";
      display: inline-block;
      width: 6px;
      height: 6px;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      background: #2e7d32;
      font: normal normal normal 14px/1 FontAwesome;
      position: absolute;
      top: 50%;
      left: 0;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%); }
    .blogAsideMenu .latestPostsList a:hover {
      color: #2e7d32; }

.blogAsideMenu .tagsList {
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .blogAsideMenu .tagsList a {
    display: block;
    padding: 8px 12px;
    font-size: 1.4rem;
    color: #8d8d8d;
    -webkit-transition: all .2s;
    transition: all .2s;
    text-decoration: none; }
    .blogAsideMenu .tagsList a:hover {
      -webkit-box-shadow: 0 14px 26px -12px rgba(43, 116, 46, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(43, 116, 46, 0.2);
              box-shadow: 0 14px 26px -12px rgba(43, 116, 46, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(43, 116, 46, 0.2);
      background: #43a047;
      color: #fff; }
  .blogAsideMenu .tagsList li.active a {
    background: #43a047;
    color: #fff;
    -webkit-box-shadow: 0 14px 26px -12px rgba(43, 116, 46, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(43, 116, 46, 0.2);
            box-shadow: 0 14px 26px -12px rgba(43, 116, 46, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(43, 116, 46, 0.2); }

.minBlogItem .itemPreview {
  margin-bottom: 25px; }
  .minBlogItem .itemPreview .img {
    width: 100%;
    height: 240px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    margin-bottom: 20px; }
  .minBlogItem .itemPreview .text p {
    color: #515151;
    font-size: 1.3rem;
    line-height: 2rem;
    margin-bottom: 15px; }

.minBlogItem .infoLine {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .minBlogItem .infoLine .more {
    color: #2e7d32;
    font-weight: 600; }
    .minBlogItem .infoLine .more .fa {
      margin-left: 5px; }
  .minBlogItem .infoLine .date {
    color: #2e7d32; }

.blogItemHolder {
  padding: 80px 0;
  background: #fff url(../img/aubg.png) no-repeat;
  background-position: top;
  background-size: 100%; }
  .blogItemHolder .block {
    margin-bottom: 40px; }
    .blogItemHolder .block h3 {
      text-transform: none;
      margin-bottom: 15px;
      font-size: 2.5rem;
      font-weight: 400;
      color: #000; }
  .blogItemHolder .latestPostsList {
    list-style: none; }
    .blogItemHolder .latestPostsList a {
      display: inline-block;
      font-size: 1.4rem;
      color: #515151;
      padding: 8px 0;
      padding-left: 20px;
      position: relative;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
      .blogItemHolder .latestPostsList a:before {
        content: "";
        display: inline-block;
        width: 6px;
        height: 6px;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        background: #2e7d32;
        font: normal normal normal 14px/1 FontAwesome;
        position: absolute;
        top: 50%;
        left: 0;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%); }
      .blogItemHolder .latestPostsList a:hover {
        color: #2e7d32; }

.blogFullItem {
  margin-bottom: 40px; }
  .blogFullItem .heading {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 25px; }
    .blogFullItem .heading .date {
      background: #43a047;
      padding: 15px;
      -webkit-border-radius: 3px;
              border-radius: 3px;
      text-align: center;
      color: #fff;
      font-size: 1.6rem;
      margin-right: 20px; }
      .blogFullItem .heading .date .day {
        font-size: 3rem;
        line-height: 3.1rem; }
    .blogFullItem .heading h1 {
      text-transform: none;
      font-size: 2.6rem;
      margin-bottom: 25px;
      text-align: left;
      color: #010101; }
    .blogFullItem .heading .caption {
      width: 100%; }
  .blogFullItem .infoLine {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 10px 0;
    border: 1px solid #c0c0c0;
    border-left: 0;
    border-right: 0;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .blogFullItem .infoLine .viewInfo,
    .blogFullItem .infoLine .tagsInfo,
    .blogFullItem .infoLine .socInfo,
    .blogFullItem .infoLine .socList,
    .blogFullItem .infoLine .tagsList {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
    .blogFullItem .infoLine ul {
      list-style: none; }
    .blogFullItem .infoLine .views {
      margin-left: 10px; }
    .blogFullItem .infoLine a {
      color: #2e7d32; }
    .blogFullItem .infoLine .viewInfo .fa {
      margin: 0 5px; }
    .blogFullItem .infoLine .tagsList li {
      margin-left: 5px; }
    .blogFullItem .infoLine .socList li {
      margin-left: 10px; }
      .blogFullItem .infoLine .socList li a {
        font-size: 2rem; }
  .blogFullItem .mainImg {
    max-width: 100%;
    margin-bottom: 30px; }
  .blogFullItem .blogItemText p {
    font-size: 1.4rem;
    color: #515151;
    margin-bottom: 25px; }
  .blogFullItem .blogItemText h2 {
    font-size: 2.4rem;
    color: #979797;
    margin-bottom: 25px;
    text-align: left;
    font-weight: 300;
    text-transform: none; }
  .blogFullItem .blogItemText img {
    max-width: 100%; }
  .blogFullItem .blogItemText .rightImg {
    float: right;
    margin: 0 0 25px 15px; }
  .blogFullItem .blogItemText .leftImg {
    float: left;
    margin: 0 15px 25px 0; }
  .blogFullItem .postNav {
    list-style: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .blogFullItem .postNav li a {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      color: #515151;
      font-size: 2rem;
      text-decoration: none; }
      .blogFullItem .postNav li a:hover .icoHolder, .blogFullItem .postNav li a:active .icoHolder, .blogFullItem .postNav li a:focus .icoHolder {
        -webkit-box-shadow: 0 14px 26px -12px rgba(43, 116, 46, 0.64), 0 4px 23px 0 rgba(0, 0, 0, 0.24), 0 8px 10px -5px rgba(43, 116, 46, 0.4);
                box-shadow: 0 14px 26px -12px rgba(43, 116, 46, 0.64), 0 4px 23px 0 rgba(0, 0, 0, 0.24), 0 8px 10px -5px rgba(43, 116, 46, 0.4); }
    .blogFullItem .postNav .icoHolder {
      display: block;
      width: 45px;
      height: 45px;
      text-align: center;
      line-height: 45px;
      vertical-align: middle;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      background: #43a047;
      color: #fff;
      -webkit-box-shadow: 0 2px 2px 0 rgba(43, 116, 46, 0.25), 0 3px 1px -2px rgba(43, 116, 46, 0.5), 0 1px 5px 0 rgba(43, 116, 46, 0.24);
              box-shadow: 0 2px 2px 0 rgba(43, 116, 46, 0.25), 0 3px 1px -2px rgba(43, 116, 46, 0.5), 0 1px 5px 0 rgba(43, 116, 46, 0.24);
      -webkit-transition: -webkit-box-shadow .3s;
      transition: -webkit-box-shadow .3s;
      transition: box-shadow .3s;
      transition: box-shadow .3s, -webkit-box-shadow .3s;
      font-size: 3rem; }
    .blogFullItem .postNav .prev .icoHolder {
      margin-right: 15px; }
    .blogFullItem .postNav .next .icoHolder {
      margin-left: 15px; }

.commentsListHolder {
  margin-bottom: 50px; }
  .commentsListHolder h3 {
    text-transform: none;
    margin-bottom: 40px;
    font-size: 2.5rem;
    font-weight: 400;
    color: #000; }
    .commentsListHolder h3 a {
      color: #43a047; }
  .commentsListHolder .comments {
    list-style: none; }
    .commentsListHolder .comments .comments {
      padding-left: 50px; }
    .commentsListHolder .comments .wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      border-bottom: 1px solid #c0c0c0;
      padding-bottom: 30px;
      margin-bottom: 30px;
      width: 100%; }
    .commentsListHolder .comments .img {
      width: 93px;
      height: 79px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat; }
    .commentsListHolder .comments .content {
      width: -webkit-calc(100% - 93px);
      width: calc(100% - 93px);
      padding-left: 20px; }
    .commentsListHolder .comments .infoLine {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin-bottom: 15px; }
      .commentsListHolder .comments .infoLine .answer {
        display: block; }
      .commentsListHolder .comments .infoLine .name {
        font-size: 1.6rem;
        color: #000;
        font-weight: 600;
        margin-right: 20px; }
      .commentsListHolder .comments .infoLine .date {
        font-weight: 600;
        font-size: 1.4rem;
        color: #000; }
        .commentsListHolder .comments .infoLine .date .fa {
          margin-right: 5px;
          color: #43a047;
          font-size: 1.8rem; }
      .commentsListHolder .comments .infoLine .msgInfo {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
      .commentsListHolder .comments .infoLine .answer {
        color: #43a047;
        text-decoration: underline;
        font-size: 1.5rem; }
    .commentsListHolder .comments .text {
      font-size: 1.6rem;
      color: #515151; }

.leaveCommentFormHolder h3 {
  text-transform: none;
  margin-bottom: 40px;
  font-size: 2.5rem;
  font-weight: 400;
  color: #000; }

.leaveCommentForm .form-control {
  border: 0;
  -webkit-border-radius: 0;
          border-radius: 0;
  border-bottom: 1px solid #c0c0c0;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  font-size: 1.8rem;
  padding: 10px 12px 10px 30px;
  height: auto;
  resize: none;
  color: #c0c0c0; }
  .leaveCommentForm .form-control::-webkit-input-placeholder {
    color: #c0c0c0; }
  .leaveCommentForm .form-control::-moz-placeholder {
    color: #c0c0c0; }
  .leaveCommentForm .form-control:-moz-placeholder {
    color: #c0c0c0; }
  .leaveCommentForm .form-control:-ms-input-placeholder {
    color: #c0c0c0; }

.leaveCommentForm .iputHolder {
  position: relative;
  color: #c0c0c0; }
  .leaveCommentForm .iputHolder .zmdi {
    font-size: 2.5rem;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 0; }

.leaveCommentForm .buttonHolder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .leaveCommentForm .buttonHolder .checkbox {
    margin-left: 30px;
    font-size: 1.6rem; }

.leaveCommentForm .form-group {
  margin-bottom: 30px; }

.portfolioHolder {
  padding: 80px 0;
  background: #fff url(../img/pbg.png) no-repeat;
  background-position: top;
  background-size: 100%; }
  .portfolioHolder h3 span {
    color: #2e7d32; }

.projectsMenu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 35px; }
  .projectsMenu .menuHolder {
    display: table;
    width: -webkit-calc(100% - 130px);
    width: calc(100% - 130px); }
  .projectsMenu .menu {
    list-style: none;
    display: table-row; }
    .projectsMenu .menu li {
      display: table-cell;
      text-align: center;
      border: 1px solid #43a047;
      border-left: 0;
      border-right: 0; }
      .projectsMenu .menu li a {
        display: block;
        font-size: 1.5rem;
        text-transform: uppercase;
        color: #000;
        font-weight: 700;
        padding: 12px 20px;
        text-decoration: none;
        -webkit-transition: .3s;
        transition: .3s; }
        .projectsMenu .menu li a:hover, .projectsMenu .menu li a:active, .projectsMenu .menu li a:focus {
          background: #43a047;
          color: #fff; }
      .projectsMenu .menu li.active a {
        background: #43a047;
        color: #fff; }
  .projectsMenu .projectsQnt {
    color: #fff;
    background: #43a047;
    padding: 12px 20px;
    font-size: 1.5rem;
    border: 1px solid #43a047; }
  .projectsMenu .divider {
    color: #b5b5b5;
    font-size: 2.5rem;
    padding: 6px 0; }

.projectItemsHolder {
  margin: -15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-bottom: 45px; }
  .projectItemsHolder .itemHolder {
    width: 33.3333333%;
    padding: 15px; }
    .projectItemsHolder .itemHolder.mainItem {
      width: 66.6666666%; }
  .projectItemsHolder .item {
    height: 100%;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    -webkit-transition: .3s;
    transition: .3s; }
    .projectItemsHolder .item:hover {
      -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.58);
              box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.58); }
    .projectItemsHolder .item .img {
      height: 260px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      display: block; }
    .projectItemsHolder .item .caption {
      padding: 25px;
      background-color: #fff;
      background-position: right bottom;
      background-repeat: no-repeat;
      border: 1px solid #e0e0e0;
      -webkit-border-radius: 0 0 3px 3px;
              border-radius: 0 0 3px 3px;
      height: -webkit-calc(100% - 260px);
      height: calc(100% - 260px); }
    .projectItemsHolder .item.mobileDev .caption {
      background-image: url("../img/mobDev.png"); }
    .projectItemsHolder .item.webDev .caption {
      background-image: url("../img/webDev.png"); }
    .projectItemsHolder .item.design .caption {
      background-image: url("../img/design.png"); }
    .projectItemsHolder .item h4 {
      margin-bottom: 15px; }
      .projectItemsHolder .item h4 a {
        color: #43a047; }
    .projectItemsHolder .item .tag {
      background: #ffc107;
      color: #000;
      padding: 3px 20px;
      display: inline-block;
      font-size: 1.4rem;
      text-decoration: none;
      -webkit-transition: .3s;
      transition: .3s; }
      .projectItemsHolder .item .tag:hover, .projectItemsHolder .item .tag:active, .projectItemsHolder .item .tag:focus {
        -webkit-box-shadow: 0 14px 26px -12px rgba(0, 0, 0, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
                box-shadow: 0 14px 26px -12px rgba(0, 0, 0, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2); }
  .projectItemsHolder .imgHolder {
    position: relative; }
    .projectItemsHolder .imgHolder:hover .moreHolder {
      opacity: 1;
      -webkit-transform: scale(1);
          -ms-transform: scale(1);
              transform: scale(1); }
  .projectItemsHolder .moreHolder {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: .3s;
    transition: .3s;
    opacity: 0;
    -webkit-transform: scale(0.1);
        -ms-transform: scale(0.1);
            transform: scale(0.1); }
    .projectItemsHolder .moreHolder a {
      color: #464646;
      padding: 10px 26px;
      text-transform: uppercase;
      text-align: center;
      display: inline-block;
      white-space: nowrap;
      background: #fff;
      position: relative;
      margin-top: 96px;
      z-index: 2;
      text-decoration: none; }
      .projectItemsHolder .moreHolder a:before {
        content: "";
        display: block;
        width: 89px;
        height: 99px;
        background: url("../img/mr.png") no-repeat;
        background-size: contain;
        position: absolute;
        top: -72px;
        z-index: -1;
        -webkit-transition: .3s;
        transition: .3s; }
      .projectItemsHolder .moreHolder a:hover:before {
        top: -96px; }

.mapHolder {
  height: 480px; }

.contactPageSlide {
  padding: 80px 0;
  background: #fff url(../img/cnbg.png) no-repeat;
  background-position: top;
  background-size: 100%; }
  .contactPageSlide h3 span {
    color: #2e7d32; }
  .contactPageSlide .feedBackFormSlide {
    background: #fff url(../img/map.png) no-repeat 10% center;
    color: #000;
    padding: 30px 0;
    background-size: contain; }
    .contactPageSlide .feedBackFormSlide .form-control {
      border-bottom: 1px solid #c5c5c5;
      color: #c5c5c5; }
      .contactPageSlide .feedBackFormSlide .form-control::-webkit-input-placeholder {
        color: #c5c5c5; }
      .contactPageSlide .feedBackFormSlide .form-control::-moz-placeholder {
        color: #c5c5c5; }
      .contactPageSlide .feedBackFormSlide .form-control:-moz-placeholder {
        color: #c5c5c5; }
      .contactPageSlide .feedBackFormSlide .form-control:-ms-input-placeholder {
        color: #c5c5c5; }
    .contactPageSlide .feedBackFormSlide .iputHolder {
      position: relative;
      color: #c5c5c5; }

.portfolioItemHolder .headingImgHolder {
  height: 350px;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .portfolioItemHolder .headingImgHolder .effect {
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .portfolioItemHolder .headingImgHolder .wrapper {
    position: relative;
    z-index: 2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    height: 100%;
    padding: 20px 0; }
  .portfolioItemHolder .headingImgHolder .mainContainer {
    height: 100%; }
  .portfolioItemHolder .headingImgHolder h1 {
    font-size: 3rem;
    color: #fff;
    margin-bottom: 30px; }
  .portfolioItemHolder .headingImgHolder .socList {
    width: 100%;
    list-style: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end; }
    .portfolioItemHolder .headingImgHolder .socList a {
      color: #fff;
      font-size: 2.2rem; }
    .portfolioItemHolder .headingImgHolder .socList li + li {
      margin-left: 10px; }
  .portfolioItemHolder .headingImgHolder .caption {
    text-align: center; }
  .portfolioItemHolder .headingImgHolder .tag {
    background: #ffc107;
    color: #000;
    padding: 3px 20px;
    display: inline-block;
    font-size: 1.4rem;
    text-decoration: none;
    -webkit-transition: .3s;
    transition: .3s; }
    .portfolioItemHolder .headingImgHolder .tag:hover, .portfolioItemHolder .headingImgHolder .tag:active, .portfolioItemHolder .headingImgHolder .tag:focus {
      -webkit-box-shadow: 0 14px 26px -12px rgba(0, 0, 0, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
              box-shadow: 0 14px 26px -12px rgba(0, 0, 0, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2); }
  .portfolioItemHolder .headingImgHolder .backLink {
    position: absolute;
    left: 0;
    bottom: 14px;
    color: #fff;
    font-size: 3rem; }

.textContentHolder {
  padding: 40px 0; }
  .textContentHolder p {
    font-size: 1.4rem;
    color: #515151;
    margin-bottom: 25px; }
  .textContentHolder .bold {
    font-weight: bold;
    color: #000;
    margin-right: 10px; }
  .textContentHolder .readMore {
    margin-bottom: 15px; }
    .textContentHolder .readMore a {
      color: #43a047;
      text-decoration: underline; }
  .textContentHolder .imgRight {
    float: right;
    margin: 0 0 15px 15px; }
  .textContentHolder .imgLeft {
    float: left;
    margin: 0 15px 15px 0; }
  .textContentHolder h2 {
    font-size: 2.4rem;
    margin-bottom: 25px;
    text-align: left;
    font-weight: 500; }
  .textContentHolder .carouselHolder {
    position: relative;
    margin-bottom: 30px; }
    .textContentHolder .carouselHolder .item .imgHolder {
      height: 350px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      display: block; }
    .textContentHolder .carouselHolder .carouselControl {
      display: block;
      width: 45px;
      height: 45px;
      text-align: center;
      line-height: 45px;
      vertical-align: middle;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      background: #43a047;
      color: #fff;
      -webkit-box-shadow: 0 2px 2px 0 rgba(43, 116, 46, 0.25), 0 3px 1px -2px rgba(43, 116, 46, 0.5), 0 1px 5px 0 rgba(43, 116, 46, 0.24);
              box-shadow: 0 2px 2px 0 rgba(43, 116, 46, 0.25), 0 3px 1px -2px rgba(43, 116, 46, 0.5), 0 1px 5px 0 rgba(43, 116, 46, 0.24);
      -webkit-transition: -webkit-box-shadow .3s;
      transition: -webkit-box-shadow .3s;
      transition: box-shadow .3s;
      transition: box-shadow .3s, -webkit-box-shadow .3s;
      font-size: 3rem;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%); }
      .textContentHolder .carouselHolder .carouselControl.left {
        left: -15px; }
      .textContentHolder .carouselHolder .carouselControl.right {
        right: -15px; }
      .textContentHolder .carouselHolder .carouselControl:hover, .textContentHolder .carouselHolder .carouselControl:active, .textContentHolder .carouselHolder .carouselControl:focus {
        -webkit-box-shadow: 0 14px 26px -12px rgba(43, 116, 46, 0.64), 0 4px 23px 0 rgba(0, 0, 0, 0.24), 0 8px 10px -5px rgba(43, 116, 46, 0.4);
                box-shadow: 0 14px 26px -12px rgba(43, 116, 46, 0.64), 0 4px 23px 0 rgba(0, 0, 0, 0.24), 0 8px 10px -5px rgba(43, 116, 46, 0.4); }

.relatedProjectsHolder {
  background: #f5f5f5;
  padding: 55px 0; }
  .relatedProjectsHolder h3 span {
    color: #2e7d32; }
  .relatedProjectsHolder .item {
    height: 100%;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    -webkit-transition: .3s;
    transition: .3s;
    max-width: 360px;
    margin: auto; }
    .relatedProjectsHolder .item:hover {
      -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.58);
              box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.58); }
    .relatedProjectsHolder .item .img {
      height: 260px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      display: block; }
    .relatedProjectsHolder .item .caption {
      padding: 25px;
      background-color: #fff;
      background-position: right bottom;
      background-repeat: no-repeat;
      border: 1px solid #e0e0e0;
      -webkit-border-radius: 0 0 3px 3px;
              border-radius: 0 0 3px 3px;
      height: -webkit-calc(100% - 260px);
      height: calc(100% - 260px); }
    .relatedProjectsHolder .item.mobileDev .caption {
      background-image: url("../img/mobDev.png"); }
    .relatedProjectsHolder .item.webDev .caption {
      background-image: url("../img/webDev.png"); }
    .relatedProjectsHolder .item.design .caption {
      background-image: url("../img/design.png"); }
    .relatedProjectsHolder .item h4 {
      margin-bottom: 15px; }
      .relatedProjectsHolder .item h4 a {
        color: #43a047; }
    .relatedProjectsHolder .item .tag {
      background: #ffc107;
      color: #000;
      padding: 3px 20px;
      display: inline-block;
      font-size: 1.4rem;
      text-decoration: none;
      -webkit-transition: .3s;
      transition: .3s; }
      .relatedProjectsHolder .item .tag:hover, .relatedProjectsHolder .item .tag:active, .relatedProjectsHolder .item .tag:focus {
        -webkit-box-shadow: 0 14px 26px -12px rgba(0, 0, 0, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
                box-shadow: 0 14px 26px -12px rgba(0, 0, 0, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2); }
  .relatedProjectsHolder .imgHolder {
    position: relative; }
    .relatedProjectsHolder .imgHolder:hover .moreHolder {
      opacity: 1;
      -webkit-transform: scale(1);
          -ms-transform: scale(1);
              transform: scale(1); }
  .relatedProjectsHolder .moreHolder {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: .3s;
    transition: .3s;
    opacity: 0;
    -webkit-transform: scale(0.1);
        -ms-transform: scale(0.1);
            transform: scale(0.1); }
    .relatedProjectsHolder .moreHolder a {
      color: #464646;
      padding: 10px 26px;
      text-transform: uppercase;
      text-align: center;
      display: inline-block;
      white-space: nowrap;
      background: #fff;
      position: relative;
      margin-top: 96px;
      z-index: 2;
      text-decoration: none; }
      .relatedProjectsHolder .moreHolder a:before {
        content: "";
        display: block;
        width: 89px;
        height: 99px;
        background: url("../img/mr.png") no-repeat;
        background-size: contain;
        position: absolute;
        top: -72px;
        z-index: -1;
        -webkit-transition: .3s;
        transition: .3s; }
      .relatedProjectsHolder .moreHolder a:hover:before {
        top: -96px; }
  .relatedProjectsHolder .owl-carousel .owl-nav {
    display: block; }
    .relatedProjectsHolder .owl-carousel .owl-nav .owl-prev,
    .relatedProjectsHolder .owl-carousel .owl-nav .owl-next {
      display: block;
      width: 45px;
      height: 45px;
      text-align: center;
      line-height: 45px;
      vertical-align: middle;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      background: #43a047;
      color: #fff;
      -webkit-box-shadow: 0 2px 2px 0 rgba(43, 116, 46, 0.25), 0 3px 1px -2px rgba(43, 116, 46, 0.5), 0 1px 5px 0 rgba(43, 116, 46, 0.24);
              box-shadow: 0 2px 2px 0 rgba(43, 116, 46, 0.25), 0 3px 1px -2px rgba(43, 116, 46, 0.5), 0 1px 5px 0 rgba(43, 116, 46, 0.24);
      -webkit-transition: -webkit-box-shadow .3s;
      transition: -webkit-box-shadow .3s;
      transition: box-shadow .3s;
      transition: box-shadow .3s, -webkit-box-shadow .3s;
      font-size: 3rem;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%); }
      .relatedProjectsHolder .owl-carousel .owl-nav .owl-prev:hover, .relatedProjectsHolder .owl-carousel .owl-nav .owl-prev:active, .relatedProjectsHolder .owl-carousel .owl-nav .owl-prev:focus,
      .relatedProjectsHolder .owl-carousel .owl-nav .owl-next:hover,
      .relatedProjectsHolder .owl-carousel .owl-nav .owl-next:active,
      .relatedProjectsHolder .owl-carousel .owl-nav .owl-next:focus {
        -webkit-box-shadow: 0 14px 26px -12px rgba(43, 116, 46, 0.64), 0 4px 23px 0 rgba(0, 0, 0, 0.24), 0 8px 10px -5px rgba(43, 116, 46, 0.4);
                box-shadow: 0 14px 26px -12px rgba(43, 116, 46, 0.64), 0 4px 23px 0 rgba(0, 0, 0, 0.24), 0 8px 10px -5px rgba(43, 116, 46, 0.4); }
    .relatedProjectsHolder .owl-carousel .owl-nav .owl-prev {
      left: -15px; }
    .relatedProjectsHolder .owl-carousel .owl-nav .owl-next {
      right: -15px; }

.menuTrigger {
  display: block;
  width: 40px;
  height: 24px; }
  .menuTrigger span {
    height: 4px;
    background: #fff;
    display: block;
    -webkit-border-radius: 2px;
            border-radius: 2px; }
  .menuTrigger span + span {
    margin-top: 6px; }

.workingScheme .owl-nav {
  display: block; }
  .workingScheme .owl-nav .owl-prev,
  .workingScheme .owl-nav .owl-next {
    display: block;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    vertical-align: middle;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background: #43a047;
    color: #fff;
    -webkit-box-shadow: 0 2px 2px 0 rgba(43, 116, 46, 0.25), 0 3px 1px -2px rgba(43, 116, 46, 0.5), 0 1px 5px 0 rgba(43, 116, 46, 0.24);
            box-shadow: 0 2px 2px 0 rgba(43, 116, 46, 0.25), 0 3px 1px -2px rgba(43, 116, 46, 0.5), 0 1px 5px 0 rgba(43, 116, 46, 0.24);
    -webkit-transition: -webkit-box-shadow .3s;
    transition: -webkit-box-shadow .3s;
    transition: box-shadow .3s;
    transition: box-shadow .3s, -webkit-box-shadow .3s;
    font-size: 3rem;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
    .workingScheme .owl-nav .owl-prev:hover, .workingScheme .owl-nav .owl-prev:active, .workingScheme .owl-nav .owl-prev:focus,
    .workingScheme .owl-nav .owl-next:hover,
    .workingScheme .owl-nav .owl-next:active,
    .workingScheme .owl-nav .owl-next:focus {
      -webkit-box-shadow: 0 14px 26px -12px rgba(43, 116, 46, 0.64), 0 4px 23px 0 rgba(0, 0, 0, 0.24), 0 8px 10px -5px rgba(43, 116, 46, 0.4);
              box-shadow: 0 14px 26px -12px rgba(43, 116, 46, 0.64), 0 4px 23px 0 rgba(0, 0, 0, 0.24), 0 8px 10px -5px rgba(43, 116, 46, 0.4); }
  .workingScheme .owl-nav .owl-prev {
    left: 0; }
  .workingScheme .owl-nav .owl-next {
    right: 0; }

.modalBody {
  padding: 20px 30px; }

.modal-header {
  border-bottom: 0;
  background: #43a047;
  color: #fff;
  text-align: center; }

.modal-content {
  -webkit-border-radius: 0;
          border-radius: 0; }

.confirmOrderHolder .headingImgHolder {
  height: 350px;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .confirmOrderHolder .headingImgHolder .effect {
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .confirmOrderHolder .headingImgHolder .wrapper {
    position: relative;
    z-index: 2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    padding: 20px 0; }
  .confirmOrderHolder .headingImgHolder .mainContainer {
    height: 100%; }
  .confirmOrderHolder .headingImgHolder h1 {
    font-size: 3rem;
    color: #fff; }
  .confirmOrderHolder .headingImgHolder .caption {
    text-align: center; }
  .confirmOrderHolder .headingImgHolder .backLink {
    position: absolute;
    left: 0;
    bottom: 14px;
    color: #fff;
    font-size: 3rem; }

.confirmOrderFormHolder .form-control {
  border: 0;
  -webkit-border-radius: 0;
          border-radius: 0;
  border-bottom: 1px solid #c5c5c5;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  font-size: 1.8rem;
  padding: 10px 12px 10px 30px;
  height: auto;
  resize: none;
  color: #000; }
  .confirmOrderFormHolder .form-control::-webkit-input-placeholder {
    color: #c5c5c5; }
  .confirmOrderFormHolder .form-control::-moz-placeholder {
    color: #c5c5c5; }
  .confirmOrderFormHolder .form-control:-moz-placeholder {
    color: #c5c5c5; }
  .confirmOrderFormHolder .form-control:-ms-input-placeholder {
    color: #c5c5c5; }

.confirmOrderFormHolder .iputHolder {
  position: relative;
  color: #ffc107; }
  .confirmOrderFormHolder .iputHolder .zmdi {
    font-size: 2.5rem;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 0; }

.confirmOrderFormHolder .buttonHolder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .confirmOrderFormHolder .buttonHolder .checkbox {
    margin-left: 30px;
    font-size: 1.6rem; }

.confirmOrderFormHolder .form-group {
  margin-bottom: 30px; }

@media (max-width: 1200px) {
  .mainContainer {
    width: 970px; }
  .mainHeader .mainMenu {
    width: -webkit-calc(100% - 200px);
    width: calc(100% - 200px);
    max-width: none; }
  .advSlide .right {
    display: none; }
  .advSlide .left {
    width: 100%; }
  .gallerySlide .galleryHolder .itemsHolder .item .img {
    height: 300px; }
  .blogListItem {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .blogListItem .date {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 0 5px;
      margin-bottom: 10px;
      background: transparent;
      color: #a5a5a5;
      padding-left: 0;
      font-size: 12px; }
      .blogListItem .date .day {
        font-size: 1.6rem; }
      .blogListItem .date .month {
        font-size: 1.6rem;
        margin-left: 10px; }
      .blogListItem .date .year {
        font-size: 1.6rem;
        margin-left: 10px; }
  .blogListItem .itemPreview {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .blogListItem .itemPreview .img {
      width: 100%;
      margin-bottom: 15px; }
    .blogListItem .itemPreview .text {
      width: 100%;
      padding-left: 0; }
  .blogListItem .infoLine {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .projectsMenu .menu li a {
    font-size: 1.3rem; } }

@media (max-width: 991px) {
  .mainContainer {
    width: 750px; }
  .mainHeader .wrapper {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .mainHeader .mainMenu {
    width: 100%;
    max-width: none;
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
    display: block;
    overflow-y: hidden;
    max-height: 500px;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: .5s;
            transition-duration: .5s;
    -webkit-transition-timing-function: cubic-bezier(0.5, 1, 0.5, 1);
            transition-timing-function: cubic-bezier(0.5, 1, 0.5, 1);
    border-top: 1px solid #fff;
    margin-top: 15px; }
    .mainHeader .mainMenu.closed {
      max-height: 0;
      padding-top: 0;
      border-top: 0;
      margin-top: 0; }
    .mainHeader .mainMenu a {
      display: inline-block;
      padding-left: 0;
      text-decoration: none;
      -webkit-transition: .2s;
      transition: .2s; }
      .mainHeader .mainMenu a:hover, .mainHeader .mainMenu a:active, .mainHeader .mainMenu a:focus {
        color: #e6e6e6; }
  .mainHeader .logo {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1; }
  .mainHeader .menuTrigger {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2; }
  .servicesSlide .figuresWrapper .figure {
    width: 50%; }
  .workingScheme .owl-nav {
    display: block; }
  .gallerySlide .galleryHolder .filter li a {
    font-size: 1.4rem;
    font-weight: 500; }
  .gallerySlide .galleryHolder .itemsHolder .item .img {
    height: 220px; }
  .leaveCommentFormHolder {
    margin-bottom: 30px; }
  .projectItemsHolder .itemHolder {
    width: 50%; }
    .projectItemsHolder .itemHolder.mainItem {
      width: 100%; }
  .projectsMenu {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .projectsMenu .menuHolder {
      width: 100%; }
    .projectsMenu .menu {
      display: block;
      overflow-y: hidden;
      max-height: 500px;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: .5s;
              transition-duration: .5s;
      -webkit-transition-timing-function: cubic-bezier(0.5, 1, 0.5, 1);
              transition-timing-function: cubic-bezier(0.5, 1, 0.5, 1); }
      .projectsMenu .menu li {
        display: block;
        border: 0;
        text-align: left; }
        .projectsMenu .menu li a {
          display: block;
          padding: 12px 0; }
          .projectsMenu .menu li a:hover, .projectsMenu .menu li a:active, .projectsMenu .menu li a:focus {
            padding: 12px 20px; }
        .projectsMenu .menu li.active a {
          padding: 12px 20px; }
      .projectsMenu .menu.closed {
        max-height: 0; }
    .projectsMenu .filterTrigger {
      font-size: 42px;
      line-height: 1em;
      color: #43a047; }
  .gallerySlide .galleryHolder .filter {
    max-height: 500px;
    display: block;
    overflow-y: hidden;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: .5s;
            transition-duration: .5s;
    -webkit-transition-timing-function: cubic-bezier(0.5, 1, 0.5, 1);
            transition-timing-function: cubic-bezier(0.5, 1, 0.5, 1); }
    .gallerySlide .galleryHolder .filter li a {
      text-align: left;
      padding-left: 0;
      padding-right: 0;
      -webkit-transition: .3s;
      transition: .3s; }
      .gallerySlide .galleryHolder .filter li a:hover, .gallerySlide .galleryHolder .filter li a:active, .gallerySlide .galleryHolder .filter li a:focus {
        background: #43a047;
        color: #fff;
        text-transform: uppercase;
        -webkit-box-shadow: 0 2px 2px 0 rgba(43, 116, 46, 0.14), 0 3px 1px -2px rgba(43, 116, 46, 0.2), 0 1px 5px 0 rgba(43, 116, 46, 0.12);
                box-shadow: 0 2px 2px 0 rgba(43, 116, 46, 0.14), 0 3px 1px -2px rgba(43, 116, 46, 0.2), 0 1px 5px 0 rgba(43, 116, 46, 0.12);
        padding-left: 26px;
        padding-right: 26px; }
    .gallerySlide .galleryHolder .filter li.active a {
      padding-left: 26px;
      padding-right: 26px;
      text-align: left;
      display: block; }
    .gallerySlide .galleryHolder .filter.closed {
      max-height: 0; }
  .blogListHolder .filter {
    max-height: 500px;
    display: block;
    overflow-y: hidden;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: .5s;
            transition-duration: .5s;
    -webkit-transition-timing-function: cubic-bezier(0.5, 1, 0.5, 1);
            transition-timing-function: cubic-bezier(0.5, 1, 0.5, 1); }
    .blogListHolder .filter li a {
      text-align: left;
      padding-left: 0;
      padding-right: 0;
      -webkit-transition: .3s;
      transition: .3s; }
      .blogListHolder .filter li a:hover, .blogListHolder .filter li a:active, .blogListHolder .filter li a:focus {
        background: #43a047;
        color: #fff;
        text-transform: uppercase;
        -webkit-box-shadow: 0 2px 2px 0 rgba(43, 116, 46, 0.14), 0 3px 1px -2px rgba(43, 116, 46, 0.2), 0 1px 5px 0 rgba(43, 116, 46, 0.12);
                box-shadow: 0 2px 2px 0 rgba(43, 116, 46, 0.14), 0 3px 1px -2px rgba(43, 116, 46, 0.2), 0 1px 5px 0 rgba(43, 116, 46, 0.12);
        padding-left: 26px;
        padding-right: 26px; }
    .blogListHolder .filter li.active a {
      padding-left: 26px;
      padding-right: 26px;
      text-align: left;
      display: block; }
    .blogListHolder .filter.closed {
      max-height: 0; } }

@media (max-width: 767px) {
  .mainContainer {
    width: 100%; }
  .mainFooter {
    font-size: 1.2rem; }
  h1 {
    font-size: 4rem; }
  .headingSlide p {
    font-size: 1.6rem; }
  .headingSlide .btnSecondary {
    padding: 16px 120px;
    -webkit-border-radius: 3px;
            border-radius: 3px; }
  h2 {
    font-size: 2.8rem; }
  .gallerySlide .galleryHolder .itemsHolder .item {
    width: 50%; }
  .gallerySlide .galleryHolder .filter li a {
    font-weight: 400;
    padding: 10px 12px; }
  .projectsSlide .wrapper {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .projectsSlide .wrapper .item {
      width: 50%;
      padding: 15px; }
  .feedBackFormSlide .buttonHolder .checkbox {
    font-size: 1.2rem; }
  .blogFullItem .heading {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .blogFullItem .heading .date {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 0 5px;
      margin-bottom: 10px; }
      .blogFullItem .heading .date .day {
        font-size: 1.6rem; }
      .blogFullItem .heading .date .month {
        font-size: 1.6rem;
        margin-left: 10px; }
      .blogFullItem .heading .date .year {
        font-size: 1.6rem;
        margin-left: 10px; }
  .blogFullItem .infoLine {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .blogFullItem .blogItemText .rightImg,
  .blogFullItem .blogItemText .leftImg {
    float: none;
    margin: 25px 0;
    max-width: 100%; }
  .blogFullItem .postNav .next .caption,
  .blogFullItem .postNav .prev .caption {
    display: none; }
  .commentsListHolder .comments .img {
    width: 50px;
    height: 43px; }
  .commentsListHolder .comments .infoLine {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .commentsListHolder .comments .infoLine .msgInfo {
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
  .commentsListHolder .comments .content {
    width: -webkit-calc(100% - 50px);
    width: calc(100% - 50px); }
  .projectItemsHolder .itemHolder {
    width: 100%;
    margin: auto; }
    .projectItemsHolder .itemHolder.mainItem {
      width: 100%;
      max-width: none; }
  .portfolioItemHolder .textContentHolder .imgRight,
  .portfolioItemHolder .textContentHolder .imgLeft {
    float: none;
    margin: 15px 0;
    width: auto;
    max-width: 100%; }
  .headingSlide {
    height: 510px; } }

@media (max-width: 480px) {
  .headingSlide .btnSecondary {
    padding: 16px 20px;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    width: 100%; }
  h1 {
    font-size: 3rem; }
  h2 {
    font-size: 2.2rem; }
  .servicesSlide .figuresWrapper .figure {
    width: 100%; }
  .gallerySlide .galleryHolder .filter {
    display: block; }
    .gallerySlide .galleryHolder .filter li a {
      display: inline-block; }
  .gallerySlide .galleryHolder .itemsHolder .item {
    width: 100%;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1; }
    .gallerySlide .galleryHolder .itemsHolder .item.moreProjects {
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
          -ms-flex-order: 2;
              order: 2; }
  .projectsSlide .wrapper .item {
    width: 100%; }
  .feedBackFormSlide .buttonHolder {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .feedBackFormSlide .buttonHolder .btnPrimary {
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
          -ms-flex-order: 2;
              order: 2;
      margin: auto; }
    .feedBackFormSlide .buttonHolder .checkbox {
      margin-left: 0;
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
          -ms-flex-order: 1;
              order: 1; }
  .commentsTabsHolder .navTabs li {
    display: none; }
    .commentsTabsHolder .navTabs li.active {
      display: block; }
  .commentsTabsHolder .navTabs li + li {
    margin-left: 0; } }
