* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.hidden {
  display: none!important;
}

html {
  font-size: 10px;
}

body {
  font-family: $fontFamily;
  color: $fontColor;
  font-size: $fontSize;
  overflow-x: hidden;
}

.mainContainer {
  width: 1170px;
  margin: auto;
  padding: 0 15px;
}

.mainHeader {
  background: $primaryColor;
  color: #fff;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1000;
  transition: .5s;
  padding: 2px 0;
  @include blockShadow($darkGrey);
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    order: 1;
  }
  .menuTrigger {
    order: 3;
  }
  .btnPrimary {
    order: 3;
  }
  .mainMenu {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: calc(100% - 400px);
    order: 2;
    a {
      font-size: 1.6rem;
      color: #fff;
      text-transform: uppercase;
      display: block;
      padding: 10px 20px;
    }
    li {
      &.active {
        a {
          background: $yellow;
          color: #000;
          box-shadow: 0 14px 26px -12px rgba(0, 0, 0, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
          text-decoration: none;
        }
      }
    }
  }
}

.main {
  margin-top: 71px;
}

.logo {
  display: block;
  height: 68px;
  width: 180px;
  margin-right: 20px;
  background: url("../img/logoSm.png") no-repeat;
  background-size: contain;
}

.btnPrimary {
  background: $secondaryColor;
  color: #fff;
  font-size: 1.6rem;
  padding: 10px 26px;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  white-space: nowrap;
  border: 1px solid #2b742e;
  box-shadow: 0 2px 2px 0 rgba(43, 116, 46, 0.14),
              0 3px 1px -2px rgba(43, 116, 46, 0.2),
              0 1px 5px 0 rgba(43, 116, 46, 0.12);
  transition: box-shadow .2s;
  &:hover,
  &:focus,
  &:active {
    color: #fff;
    text-decoration: none;
    box-shadow: 0 14px 26px -12px rgba(43, 116, 46, 0.42),
                0 4px 23px 0 rgba(0, 0, 0, 0.12),
                0 8px 10px -5px rgba(43, 116, 46, 0.2);
  }
}

.btnSecondary {
  background: $primaryColor;
  color: #fff;
  font-size: 1.6rem;
  padding: 10px 26px;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  border: 1px solid $primaryColor;
  white-space: nowrap;
  box-shadow: 0 2px 2px 0 rgba(43, 116, 46, 0.14),
  0 3px 1px -2px rgba(43, 116, 46, 0.2),
  0 1px 5px 0 rgba(43, 116, 46, 0.12);
  transition: box-shadow .2s;
  &:hover,
  &:focus,
  &:active {
    color: #fff;
    text-decoration: none;
    box-shadow: 0 14px 26px -12px rgba(43, 116, 46, 0.42),
    0 4px 23px 0 rgba(0, 0, 0, 0.12),
    0 8px 10px -5px rgba(43, 116, 46, 0.2);
  }
}

.headingSlide {
  background: url("../img/hsbg.jpg") no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 750px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  @include blockShadow($darkGrey);
  .content {
    max-width: 840px;
    margin: auto;
    text-align: center;
  }
  .btnSecondary {
    padding: 16px 126px;
    border-radius: 3px;
  }
  h1 {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #b2b2b2;
  }
  p {
    font-size: 1.9rem;
    color: #b2b2b2;
    margin-bottom: 35px;
  }
}

h1 {
  font-size: 6rem;
  text-transform: uppercase;
  color: $secondaryColor;
  text-align: center;
  font-weight: 700;
}

h2 {
  font-size: 4.8rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  color: #303030;
}

.servicesSlide {
  padding: $slidePadding;
  h2 {
    margin-bottom: 20px;
    span {
      color: $secondaryColor;
    }
  }
  .figuresWrapper {
    margin: 0 -15px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
    .figure {
      width: 25%;
      padding: 15px;
      text-align: center;
    }
  }
  .ico {
    width: 65px;
    height: 40px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    margin-bottom: 25px;
    &.si1 {
      background-image: url("../img/si1.png");
    }
    &.si2 {
      background-image: url("../img/si2.png");
    }
    &.si3 {
      background-image: url("../img/si3.png");
    }
    &.si4 {
      background-image: url("../img/si4.png");
    }
    &.si5 {
      background-image: url("../img/si5.png");
    }
    &.si6 {
      background-image: url("../img/si6.png");
    }
    &.si7 {
      background-image: url("../img/si7.png");
    }
    &.si8 {
      background-image: url("../img/si8.png");
    }
  }
  h4 {
    color: $primaryColor;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.8rem;
    font-weight: 500;
  }
}

.headingSubText {
  text-align: center;
  width: 70%;
  margin: auto;
  margin-bottom: 40px;
}

.advSlide {
  background: #f5f5f5;
  @include blockDblShadow($darkGrey);
  .wrapper {
    display: flex;
  }
  .left {
    padding: $slidePadding;
    width: 45%;
  }
  .right {
    width: 55%;
    background-image: url("../img/asbg.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;
    margin-left: 20px;
  }
  h3 {
    color: #8d8d8d;
    margin-bottom: 30px;
    span {
      color: $secondaryColor;
    }
  }
  h4 {
    color: #222;
    span {
      color: $primaryColor;
    }
  }
  .caption {
    p {
      color: #515151;
      font-size: 1.6rem;
    }
  }
  li + li {
    margin-top: 15px;
  }
  li {
    display: flex;
    align-items: flex-start;
  }
  .ico {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    background-size: contain;
    background-position: left top;
    background-repeat: no-repeat;
    &.ai1 {
      background-image: url("../img/ai1.png");
    }
    &.ai2 {
      background-image: url("../img/ai2.png");
    }
    &.ai3 {
      background-image: url("../img/ai3.png");
    }
  }
}

.advSlide.aboutUsSlide {
  background: #fff url(../img/aubg.png) no-repeat;
  background-position: top;
  background-size: 100%;
  box-shadow: none;
  .right {
    background-position: center 75%;
  }
  .subText {
    &.big {
      font-size: 1.7rem;
    }
  }
  .advList {
    margin-bottom: 30px;
  }
}

.servicesSlide.aboutUsSlide {
  @include blockDblShadow($darkGrey);
  background: #f5f5f5 url("../img/ssbg.png");
  background-repeat: repeat-x;
  background-position: bottom;

  h3 {
    color: #8d8d8d;
    margin-bottom: 30px;
    text-align: center;
    span {
      color: $secondaryColor;
    }
  }
}

.hasLine {
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 40px;
  &:after {
    content: "";
    display: block;
    height: 3px;
    width: 100px;
    background: $yellow;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

h3 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
  color: #000;
}

h4 {
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 500;
}

.schemeSlide {
  padding: $slidePadding;
  h3 {
    color: #8d8d8d;
    margin-bottom: 30px;
    text-align: center;
    span {
      color: $secondaryColor;
    }
  }
}

.workingScheme {
  .owl-nav {
    display: none;
  }
  .item {
    text-align: center;
    overflow: hidden;
    .icoHolder {
      width: 75px;
      height: 75px;
      position: relative;
      border-radius: 50%;
      background: $primaryColor;
      margin: auto;
      font-size: 48px;
      color: #fff;
      line-height: 75px;
    }
    .circleDivider {
      width: 38px;
      height: 38px;
      border: 8px solid;
      border-radius: 50%;
      background: #fff;
      margin: auto;
      position: relative;
      &:before {
        content: "";
        display: block;
        width: 100px;
        height: 8px;
        position: absolute;
        background: #c3c1c1;
        left: -118px;
        top: 50%;
        margin-top: -4px;
      }
      &:after {
        content: "";
        display: block;
        width: 100px;
        height: 8px;
        position: absolute;
        background: #c3c1c1;
        right: -118px;
        top: 50%;
        margin-top: -4px;
      }
    }
    .textHolder {
      .qnt {
        font-size: 2.2rem;
        font-weight: 700;
        color: #000;
      }
      .text {
        font-size: 1.8rem;
        color: #000;
        text-transform: uppercase;
        margin: auto;
        height: 50px;
      }
    }
  }
  .owl-item {
    &:nth-child(odd) {
      .circleDivider {
        border-color: $secondaryColor;
      }
      .icoHolder {
        margin-bottom: 20px;
        &:after {
          content: "";
          display: block;
          width: 8px;
          height: 10px;
          position: absolute;
          background: #c3c1c1;
          bottom: -15px;
          left: 50%;
          margin-left: -4px;
        }
      }
      .textHolder {
        margin-top: 14px;
      }
    }
    &:nth-child(even) {
      .circleDivider {
        border-color: $primaryColor;
      }
      .icoHolder {
        margin-top: 20px;
        &:after {
          content: "";
          display: block;
          width: 8px;
          height: 10px;
          position: absolute;
          background: #c3c1c1;
          top: -15px;
          left: 50%;
          margin-left: -4px;
        }
      }
      .textHolder {
        margin-bottom: 14px;
      }
    }
  }
}

.gallerySlide {
  padding: $slidePadding;
  background: #f5f5f5;
  @include blockDblShadow($darkGrey);
  h3 {
    color: #8d8d8d;
    margin-bottom: 30px;
    text-align: center;
    span {
      color: $secondaryColor;
    }
  }
  .galleryHolder {
    .filterTrigger {
      font-size: 42px;
      line-height: 1em;
      background: $primaryColor;
      color: #fff;
      padding: 5px 26px;
      border-bottom: 1px solid #fff;
    }
    .filter {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;
      margin-bottom: 20px;
      li {
        a {
          display: block;
          font-size: 1.8rem;
          font-weight: 700;
          color: #000;
          text-transform: uppercase;
          padding: 10px 26px;
          &:hover,
          &:active,
          &:focus {
            text-decoration: none;
          }
        }
        &.active {
          a {
            background: $primaryColor;
            color: #fff;
            text-transform: uppercase;
            text-align: center;
            display: inline-block;
            border: 1px solid $primaryColor;
            box-shadow: 0 2px 2px 0 rgba(43, 116, 46, 0.14), 0 3px 1px -2px rgba(43, 116, 46, 0.2), 0 1px 5px 0 rgba(43, 116, 46, 0.12);
          }
        }
      }
    }
    .itemsHolder {
      margin: 0 -15px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      .item {
        width: 33.333333%;
        padding: 15px;
        .img {
          height: 360px;
          border: 7px solid #fff;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.1);
          transition: box-shadow .3s;
          position: relative;
          &:hover {
            box-shadow: 0 0 25px 0 rgba(0,0,0,0.58);
          }
        }
      }
      .infoHolder {
        background: rgba(67,160,71,.9);
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: .3s;
        &:hover {
          opacity: 1;
        }
      }
      .btnHolder {
        width: 100%;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 15px;
        a {
          display: block;
          background: #fff;
          text-align: center;
          width: 35px;
          height: 35px;
          line-height: 35px;
          color: $primaryColor;
          border-radius: 50%;
          font-size: 1.8rem;
          box-shadow: 0 2px 2px 0 rgba(43, 116, 46, 0.25),
                      0 3px 1px -2px rgba(43, 116, 46, 0.5),
                      0 1px 5px 0 rgba(43, 116, 46, 0.24);
          transition: box-shadow .3s;
          &:hover,
          &:focus,
          &:active {
            text-decoration: none;
            box-shadow: 0 14px 26px -12px rgba(43, 116, 46, 0.64),
                        0 4px 23px 0 rgba(0, 0, 0, 0.24),
                        0 8px 10px -5px rgba(43, 116, 46, 0.4);
          }
        }
        li + li {
          margin-left: 15px;
        }
      }
      h4 {
        width: 100%;
        text-align: center;
        font-size: 2rem;
        margin-bottom: 5px;
        a {
          color: #fff;
        }
      }
      p {
        width: 100%;
        text-align: center;
      }
      .info {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        color: #fff;
      }
      .moreImgHolder {
        text-align: center;
        img {
          margin: auto;
          margin-bottom: 15px;
        }
        a {
          text-transform: uppercase;
          text-decoration: underline;
          font-weight: 700;
          color: $primaryColor;
          font-size: 2.2rem;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}

.projectsSlide {
  padding: $slidePadding;
  .wrapper {
    display: flex;
    margin: 0 -15px;
    .item {
      width: 25%;
      padding: 0 15px;
      text-align: center;
    }
    .info {
      font-size: 3.4rem;
      color: $primaryColor;
      font-weight: 700;
    }
    .zmdi {
      margin-right: 10px;
    }
    .caption {
      color: #1f1f1f;
      text-transform: uppercase;
      font-size: 2.2rem;
    }
  }
}

.commentsSlide {
  padding: $slidePadding;
  @include blockDblShadow($darkGrey);
  background: #4fa353 url("../img/cbg.png");
  background-repeat: repeat-x;
  h3 {
    color: #fff;
    text-align: center;
    margin-bottom: 50px;
  }
}

.partnersSlide {
  padding: $slidePadding;
}

.feedBackFormSlide {
  padding: $slidePadding;
  background: $primaryColor url("../img/map.png") no-repeat 20% center;
  color: #fff;
  h3 {
    color: #fff;
    text-align: center;
    margin-bottom: 50px;
  }
  .contactList {
    font-size: 1.8rem;
    list-style: none;
    li {
      display: flex;
      align-items: flex-start;
      margin-bottom: 10px;
      .icoHolder {
        width: 25px;
        text-align: center;
        font-size: 2.5rem;
        color: $yellow;
      }
      .caption {
        margin-left: 10px;
        width: calc(100% - 25px);
        padding-top: 4px;
      }
    }
  }
  .form-control {
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #fff;
    background: transparent;
    box-shadow: none;
    outline: none;
    font-size: 1.8rem;
    padding: 10px 12px 10px 30px;
    height: auto;
    resize: none;
    color: #fff;
    &::-webkit-input-placeholder {color:#fff;}
    &::-moz-placeholder          {color:#fff;}
    &:-moz-placeholder           {color:#fff;}
    &:-ms-input-placeholder      {color:#fff;}
  }
  .iputHolder {
    position: relative;
    color: $yellow;
    .zmdi {
      font-size: 2.5rem;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
    }
  }
  .buttonHolder {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .checkbox {
      margin-left: 30px;
      font-size: 1.6rem;
    }
  }
  .form-group {
    margin-bottom: 30px;
  }
}

.mainFooter {
  @include blockDblShadow($darkGrey);
  padding: 15px 0;
  background: $secondaryColor;
  color: #fff;
  font-size: 1.8rem;
  .wrapper {
    display: flex;
    .copyright {
      width: 50%;
      line-height: 31px;
    }
    .socList {
      width: 50%;
      list-style: none;
      display: flex;
      justify-content: flex-end;
      a {
        color: #fff;
        font-size: 2.2rem;
      }
      li + li {
        margin-left: 10px;
      }
    }
  }
}

.partnersCarousel {
  .owl-item {
    img {
      width: auto;
      margin: auto;
    }
  }
  .owl-prev {
    left: 0;
  }
  .owl-next {
    right: 0;
  }
  .owl-next,
  .owl-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
    border-radius: 50%;
    background: $primaryColor;
    color: #fff;
    box-shadow: 0 2px 2px 0 rgba(43, 116, 46, 0.25), 0 3px 1px -2px rgba(43, 116, 46, 0.5), 0 1px 5px 0 rgba(43, 116, 46, 0.24);
    transition: box-shadow .3s;
    &:hover,
    &:active,
    &:focus {
      box-shadow: 0 14px 26px -12px rgba(43, 116, 46, 0.64), 0 4px 23px 0 rgba(0, 0, 0, 0.24), 0 8px 10px -5px rgba(43, 116, 46, 0.4);
    }
  }
}

.commentsTabsHolder {
  .navTabs {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 30px 0;
    li {
      color: #fff;
      text-align: center;
      a {
        color: #fff;
        text-decoration: none;
        &:hover {
          .img {
            box-shadow: 0 0 19px 2px rgba(0,0,0,0.62);
          }
        }
      }
      .img {
        display: block;
        width: 105px;
        height: 105px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 50%;
        margin: auto;
        margin-bottom: 10px;
        box-shadow: 0 0 19px 1px rgba(0,0,0,0.59);
        transition: .3s;
        position: relative;
        z-index: 2;
        &:before {
          opacity: 0;
          transition: opacity .2s;
          content: "";
          display: block;
          background-image: url("../img/re.png");
          background-repeat: no-repeat;
          background-size: contain;
          width: 92px;
          height: 52px;
          position: absolute;
          top: -44px;
          left: 50%;
          transform: translate(-50%);
          z-index: 0;
        }
      }
      .name {
        font-size: 1.8rem;
        font-weight: 700;
        text-transform: uppercase;
        opacity: 0;
        transition: opacity .2s;
      }
      .pos {
        font-size: 1.6rem;
        opacity: 0;
        transition: opacity .2s;
      }
      &.active {
        .img {
          box-shadow: 0 0 19px 2px rgba(0,0,0,0.62);
          &:before {
            opacity: 1;
          }
        }
        .name {
          opacity: 1;
        }
        .pos {
          opacity: 1;
        }
      }
    }
    li + li {
      margin-left: 40px;
    }
  }
  .tabsHolder {
    position: relative;
    width: calc(100% - 30px);
    margin: auto;
  }
  .tabPane {
    //display: none;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    &.active {
      //display: block;
      opacity: 1;
    }
  }
  .commentFigure {
    color: #fff;
    padding: 35px;
    border: 1px solid #add4af;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 300;
    display: flex;
    align-items: center;
  }
  .tabsNav {
    .owl-next,
    .owl-prev {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 30px;
      height: 30px;
      text-align: center;
      line-height: 30px;
      vertical-align: middle;
      border-radius: 50%;
      background: #fff;
      color: #43a047;
      box-shadow: 0 2px 2px 0 rgba(43, 116, 46, 0.25), 0 3px 1px -2px rgba(43, 116, 46, 0.5), 0 1px 5px 0 rgba(43, 116, 46, 0.24);
      transition: -webkit-box-shadow .3s;
      transition: box-shadow .3s;
      z-index: 5;
    }
    .owl-next {
      right: -15px;
    }
    .owl-prev {
      left: -15px;
    }
  }
}

.blogListHolder {
  padding: $slidePadding;
  background: #fff url(../img/aubg.png) no-repeat;
  background-position: top;
  background-size: 100%;
  .filterTrigger {
    font-size: 42px;
    line-height: 1em;
    background: $primaryColor;
    color: #fff;
    padding: 5px 26px;
    border-bottom: 1px solid #fff;
    text-align: right;
  }
  .filter {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-bottom: 35px;
    li {
      a {
        display: block;
        font-size: 1.8rem;
        font-weight: 700;
        color: #000;
        text-transform: uppercase;
        padding: 10px 26px;
        &:hover,
        &:active,
        &:focus {
          text-decoration: none;
        }
      }
      &.active {
        a {
          background: $primaryColor;
          color: #fff;
          text-transform: uppercase;
          text-align: center;
          display: inline-block;
          border: 1px solid $primaryColor;
          box-shadow: 0 2px 2px 0 rgba(43, 116, 46, 0.14), 0 3px 1px -2px rgba(43, 116, 46, 0.2), 0 1px 5px 0 rgba(43, 116, 46, 0.12);
        }
      }
    }
  }
}

.blogListItem {
  display: flex;
  align-items: flex-start;
  margin-bottom: 60px;
  .date {
    background: $primaryColor;
    padding: 15px;
    border-radius: 3px;
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
    margin-right: 20px;
    .day {
      font-size: 3rem;
      line-height: 3.1rem;
    }
  }
  h4 {
    text-transform: none;
    font-size: 2.6rem;
    margin-bottom: 15px;
    a {
      color: #515151;
      text-decoration: none;
      &:hover,
      &:active,
      &:focus {
        color: $primaryColor;
      }
    }
  }
  .itemPreview {
    display: flex;
    margin-bottom: 25px;
    .img {
      width: 240px;
      height: 240px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      display: block;
      border-radius: 5px;
    }
    .text {
      width: calc(100% - 240px);
      padding-left: 15px;
      p {
        color: #515151;
        font-size: 1.3rem;
        line-height: 2rem;
        margin-bottom: 15px;
      }
      .more {
        color: $secondaryColor;
        font-weight: 600;
        .fa {
          margin-left: 5px;
        }
      }
    }
  }
  .tagsInfo {
    display: flex;
    align-items: center;
  }
  .tagsList {
    list-style: none;
    display: flex;
    align-items: center;
    li {
      margin-left: 5px;
      a {
        color: $secondaryColor;
      }
    }
  }
  .infoLine {
    display: flex;
    padding: 10px 0;
    border: 1px solid #c0c0c0;
    border-left: 0;
    border-right: 0;
    justify-content: space-between;
    align-items: center;
    .viewInfo,
    .socInfo,
    .socList,
    .tagsList {
      display: flex;
      align-items: center;
    }
    ul {
      list-style: none;
    }
    .views {
      margin-left: 10px;
    }
    a {
      color: $secondaryColor;
    }
    .viewInfo {
      .fa {
        margin: 0 5px;
      }
    }

    .socList {
      li {
        margin-left: 10px;
        a {
          font-size: 2rem;
        }
      }
    }
  }
}

.confirmOrderFormHolder {
  max-width: 960px;
  margin: auto;
}

.pagination {
  & > li {
    & > a,
    & > span {
      font-size: 1.7rem;
      border-radius: 3px!important;
      border: 1px solid #e7e7e7;
      color: #000;
      margin-left: 10px;
      transition: .2s;
    }
  }
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
  background: $secondaryColor;
  border-color: $secondaryColor;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
  background: $secondaryColor;
  border-color: $secondaryColor;
  color: #fff;
}

.inputIconHolder {
  position: relative;
  button {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 1.8rem;
    background: transparent;
    color: #bababa;
    border: none;
    padding: 0;
  }
  .form-control {
    border-radius: 0;
    border: 1px solid #c0c0c0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    box-shadow: none;
    outline: none;
    height: auto;
    padding: 10px 0;
    padding-right: 25px;
    color: #bababa;
  }
}

.blogAsideMenu {
  .block {
    margin-bottom: 40px;
  }
  .socList {
    list-style: none;
    display: flex;
    margin-bottom: 20px;
    a {
      color: $secondaryColor;
      font-size: 3rem;
    }
    li + li {
      margin-left: 15px;
    }
  }
  h3 {
    text-transform: none;
    margin-bottom: 15px;
    font-size: 2.5rem;
    font-weight: 400;
  }
  .signUsFormHolder {
    .inputIconHolder {
      margin-bottom: 15px;
    }
  }
  .categoryList {
    list-style: none;
    a {
      display: block;
      font-size: 1.4rem;
      color: #515151;
      padding: 8px 0;
      text-decoration: none;
      transition: all .3s;
      &:hover {
        background: $primaryColor;
        color: #fff;
        padding: 8px 15px;
        box-shadow: 0 14px 26px -12px rgba(43, 116, 46, 0.42),
        0 4px 23px 0 rgba(0, 0, 0, 0.12),
        0 8px 10px -5px rgba(43, 116, 46, 0.2);
      }
      &:before {
        content: "\f105";
        font: normal normal normal 14px/1 FontAwesome;
        margin-right: 15px;
      }
    }
    li {
      &.active {
        a {
          background: $primaryColor;
          color: #fff;
          padding: 8px 15px;
          box-shadow: 0 14px 26px -12px rgba(43, 116, 46, 0.42),
          0 4px 23px 0 rgba(0, 0, 0, 0.12),
          0 8px 10px -5px rgba(43, 116, 46, 0.2);
        }
      }
    }
  }
  .latestPostsList {
    list-style: none;
    a {
      display: block;
      font-size: 1.4rem;
      color: #515151;
      padding: 8px 0;
      padding-left: 20px;
      position: relative;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      &:before {
        content: "";
        display: inline-block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: $secondaryColor;
        font: normal normal normal 14px/1 FontAwesome;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
      &:hover {
        color: $secondaryColor;
      }
    }
  }
  .tagsList {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    a {
      display: block;
      padding: 8px 12px;
      font-size: 1.4rem;
      color: #8d8d8d;
      transition: all .2s;
      text-decoration: none;
      &:hover {
        box-shadow: 0 14px 26px -12px rgba(43, 116, 46, 0.42),
        0 4px 23px 0 rgba(0, 0, 0, 0.12),
        0 8px 10px -5px rgba(43, 116, 46, 0.2);
        background: $primaryColor;
        color: #fff;
      }
    }
    li {
      &.active {
        a {
          background: $primaryColor;
          color: #fff;
          box-shadow: 0 14px 26px -12px rgba(43, 116, 46, 0.42),
          0 4px 23px 0 rgba(0, 0, 0, 0.12),
          0 8px 10px -5px rgba(43, 116, 46, 0.2);
        }
      }
    }
  }
}

.minBlogItem {
  .itemPreview {
    margin-bottom: 25px;
    .img {
      width: 100%;
      height: 240px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      display: block;
      margin-bottom: 20px;
    }
    .text {
      p {
        color: #515151;
        font-size: 1.3rem;
        line-height: 2rem;
        margin-bottom: 15px;
      }
    }
  }
  .infoLine {
    display: flex;
    justify-content: space-between;
    .more {
      color: $secondaryColor;
      font-weight: 600;
      .fa {
        margin-left: 5px;
      }
    }
    .date {
      color: $secondaryColor;
    }
  }
}

.blogItemHolder {
  padding: $slidePadding;
  background: #fff url(../img/aubg.png) no-repeat;
  background-position: top;
  background-size: 100%;
  .block {
    margin-bottom: 40px;
    h3 {
      text-transform: none;
      margin-bottom: 15px;
      font-size: 2.5rem;
      font-weight: 400;
      color: #000;
    }
  }
  .latestPostsList {
    list-style: none;
    a {
      display: inline-block;
      font-size: 1.4rem;
      color: #515151;
      padding: 8px 0;
      padding-left: 20px;
      position: relative;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      &:before {
        content: "";
        display: inline-block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: $secondaryColor;
        font: normal normal normal 14px/1 FontAwesome;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
      &:hover {
        color: $secondaryColor;
      }
    }
  }
}

.blogFullItem {
  margin-bottom: 40px;
  .heading {
    display: flex;
    align-items: flex-start;
    margin-bottom: 25px;
    .date {
      background: $primaryColor;
      padding: 15px;
      border-radius: 3px;
      text-align: center;
      color: #fff;
      font-size: 1.6rem;
      margin-right: 20px;
      .day {
        font-size: 3rem;
        line-height: 3.1rem;
      }
    }
    h1 {
      text-transform: none;
      font-size: 2.6rem;
      margin-bottom: 25px;
      text-align: left;
      color: #010101;
    }
    .caption {
      width: 100%;
    }
  }
  .infoLine {
    display: flex;
    padding: 10px 0;
    border: 1px solid #c0c0c0;
    border-left: 0;
    border-right: 0;
    justify-content: space-between;
    align-items: center;
    .viewInfo,
    .tagsInfo,
    .socInfo,
    .socList,
    .tagsList {
      display: flex;
      align-items: center;
    }
    ul {
      list-style: none;
    }
    .views {
      margin-left: 10px;
    }
    a {
      color: $secondaryColor;
    }
    .viewInfo {
      .fa {
        margin: 0 5px;
      }
    }
    .tagsList {
      li {
        margin-left: 5px;
      }
    }
    .socList {
      li {
        margin-left: 10px;
        a {
          font-size: 2rem;
        }
      }
    }
  }
  .mainImg {
    max-width: 100%;
    margin-bottom: 30px;
  }
  .blogItemText {
    p {
      font-size: 1.4rem;
      color: #515151;
      margin-bottom: 25px;
    }
    h2 {
      font-size: 2.4rem;
      color: #979797;
      margin-bottom: 25px;
      text-align: left;
      font-weight: 300;
      text-transform: none;
    }
    img {
      max-width: 100%;
    }
    .rightImg {
      float: right;
      margin: 0 0 25px 15px;
    }
    .leftImg {
      float: left;
      margin: 0 15px 25px 0;
    }
  }
  .postNav {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    li {
      a {
        display: flex;
        align-items: center;
        color: #515151;
        font-size: 2rem;
        text-decoration: none;
        &:hover,
        &:active,
        &:focus {
          .icoHolder {
            box-shadow: 0 14px 26px -12px rgba(43, 116, 46, 0.64), 0 4px 23px 0 rgba(0, 0, 0, 0.24), 0 8px 10px -5px rgba(43, 116, 46, 0.4);
          }
        }
      }
    }
    .icoHolder {
      display: block;
      width: 45px;
      height: 45px;
      text-align: center;
      line-height: 45px;
      vertical-align: middle;
      border-radius: 50%;
      background: $primaryColor;
      color: #fff;
      box-shadow: 0 2px 2px 0 rgba(43, 116, 46, 0.25), 0 3px 1px -2px rgba(43, 116, 46, 0.5), 0 1px 5px 0 rgba(43, 116, 46, 0.24);
      transition: box-shadow .3s;
      font-size: 3rem;

    }
    .prev {
      .icoHolder {
        margin-right: 15px;
      }
    }
    .next {
      .icoHolder {
        margin-left: 15px;
      }
    }
  }
}

.commentsListHolder {
  margin-bottom: 50px;
  h3 {
    text-transform: none;
    margin-bottom: 40px;
    font-size: 2.5rem;
    font-weight: 400;
    color: #000;
    a {
      color: $primaryColor;
    }
  }
  .comments {
    list-style: none;
    .comments {
      padding-left: 50px;
    }
    .wrapper {
      display: flex;
      border-bottom: 1px solid #c0c0c0;
      padding-bottom: 30px;
      margin-bottom: 30px;
      width: 100%;
    }
    .img {
      width: 93px;
      height: 79px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
    .content {
      width: calc(100% - 93px);
      padding-left: 20px;
    }
    .infoLine {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
      .answer {
        display: block;
      }
      .name {
        font-size: 1.6rem;
        color: #000;
        font-weight: 600;
        margin-right: 20px;
      }
      .date {
        font-weight: 600;
        font-size: 1.4rem;
        color: #000;
        .fa {
          margin-right: 5px;
          color: $primaryColor;
          font-size: 1.8rem;
        }
      }
      .msgInfo {
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }
      .answer {
        color: $primaryColor;
        text-decoration: underline;
        font-size: 1.5rem;
      }
    }
    .text {
      font-size: 1.6rem;
      color: #515151;
    }
  }
}

.leaveCommentFormHolder {
  h3 {
    text-transform: none;
    margin-bottom: 40px;
    font-size: 2.5rem;
    font-weight: 400;
    color: #000;
  }
}

.leaveCommentForm {
  .form-control {
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #c0c0c0;
    background: transparent;
    box-shadow: none;
    outline: none;
    font-size: 1.8rem;
    padding: 10px 12px 10px 30px;
    height: auto;
    resize: none;
    color: #c0c0c0;
    &::-webkit-input-placeholder {color:#c0c0c0;}
    &::-moz-placeholder          {color:#c0c0c0;}
    &:-moz-placeholder           {color:#c0c0c0;}
    &:-ms-input-placeholder      {color:#c0c0c0;}
  }
  .iputHolder {
    position: relative;
    color: #c0c0c0;
    .zmdi {
      font-size: 2.5rem;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
    }
  }
  .buttonHolder {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .checkbox {
      margin-left: 30px;
      font-size: 1.6rem;
    }
  }
  .form-group {
    margin-bottom: 30px;
  }
}

.portfolioHolder {
  padding: $slidePadding;
  background: #fff url(../img/pbg.png) no-repeat;
  background-position: top;
  background-size: 100%;
  h3 {
    span {
      color: $secondaryColor;
    }
  }
}

.projectsMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 35px;
  .menuHolder {
    display: table;
    width: calc(100% - 130px);
  }
  .menu {
    list-style: none;
    display: table-row;
    li {
      display: table-cell;
      text-align: center;
      border: 1px solid $primaryColor;
      border-left: 0;
      border-right: 0;
      a {
        display: block;
        font-size: 1.5rem;
        text-transform: uppercase;
        color: #000;
        font-weight: 700;
        padding: 12px 20px;
        text-decoration: none;
        transition: .3s;
        &:hover,
        &:active,
        &:focus {
          background: $primaryColor;
          color: #fff;
        }
      }
      &.active {
        a {
          background: $primaryColor;
          color: #fff;
        }
      }
    }
  }
  .projectsQnt {
    color: #fff;
    background: $primaryColor;
    padding: 12px 20px;
    font-size: 1.5rem;
    border: 1px solid $primaryColor;
  }
  .divider {
    color: #b5b5b5;
    font-size: 2.5rem;
    padding: 6px 0;
  }
}

.projectItemsHolder {
  margin: -15px;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin-bottom: 45px;
  .itemHolder {
    width: 33.3333333%;
    padding: 15px;
    &.mainItem {
      width: 66.6666666%;
    }
  }
  .item {
    height: 100%;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    transition: .3s;
    &:hover {
      box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.58);
    }
    .img {
      height: 260px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      display: block;
    }
    .caption {
      padding: 25px;
      background-color: #fff;
      background-position: right bottom;
      background-repeat: no-repeat;
      border: 1px solid #e0e0e0;
      border-radius: 0 0 3px 3px;
      height: calc(100% - 260px);
    }
    &.mobileDev {
      .caption {
        background-image: url("../img/mobDev.png");
      }
    }
    &.webDev {
      .caption {
        background-image: url("../img/webDev.png");
      }
    }
    &.design {
      .caption {
        background-image: url("../img/design.png");
      }
    }
    h4 {
      margin-bottom: 15px;
      a {
        color: $primaryColor;
      }
    }
    .tag {
      background: $yellow;
      color: #000;
      padding: 3px 20px;
      display: inline-block;
      font-size: 1.4rem;
      text-decoration: none;
      transition: .3s;
      &:hover,
      &:active,
      &:focus {
        box-shadow: 0 14px 26px -12px rgba(0, 0, 0, 0.42),
                    0 4px 23px 0 rgba(0, 0, 0, 0.12),
                    0 8px 10px -5px rgba(0, 0, 0, 0.2);
      }
    }
  }
  .imgHolder {
    position: relative;
    &:hover {
      .moreHolder {
        opacity: 1;
        transform: scale(1);
      }
    }
  }
  .moreHolder {
    position: absolute;
    width: 100%;
    height:100%;
    left: 0;
    top: 0;
    background: rgba(0,0,0,.6);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
    opacity: 0;
    transform: scale(.1);
    a {
      color: #464646;
      padding: 10px 26px;
      text-transform: uppercase;
      text-align: center;
      display: inline-block;
      white-space: nowrap;
      background: #fff;
      position: relative;
      margin-top: 96px;
      z-index: 2;
      text-decoration: none;
      &:before {
        content: "";
        display: block;
        width: 89px;
        height: 99px;
        background: url("../img/mr.png") no-repeat;
        background-size: contain;
        position: absolute;
        top: -72px;
        z-index: -1;
        transition: .3s;
      }
      &:hover {
        &:before {
          top: -96px;
        }
      }
    }
  }
}

.mapHolder {
  height: 480px;
}

.contactPageSlide {
  padding: $slidePadding;
  background: #fff url(../img/cnbg.png) no-repeat;
  background-position: top;
  background-size: 100%;
  h3 {
    span {
      color: $secondaryColor;
    }
  }
  .feedBackFormSlide {
    background: #fff url(../img/map.png) no-repeat 10% center;
    color: #000;
    padding: 30px 0;
    background-size: contain;
    .form-control {
      border-bottom: 1px solid #c5c5c5;
      color: #c5c5c5;
      &::-webkit-input-placeholder {color:#c5c5c5;}
      &::-moz-placeholder          {color:#c5c5c5;}
      &:-moz-placeholder           {color:#c5c5c5;}
      &:-ms-input-placeholder      {color:#c5c5c5;}
    }
    .iputHolder {
      position: relative;
      color: #c5c5c5;
    }
  }
}


.portfolioItemHolder {
  .headingImgHolder {
    height: 350px;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .effect {
      background: rgba(0,0,0,.6);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .wrapper {
      position: relative;
      z-index: 2;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-end;
      height: 100%;
      padding: 20px 0;
    }
    .mainContainer {
      height: 100%;
    }
    h1 {
      font-size: 3rem;
      color: #fff;
      margin-bottom: 30px;
    }
    .socList {
      width: 100%;
      list-style: none;
      display: flex;
      justify-content: center;
      align-self: flex-end;
      a {
        color: #fff;
        font-size: 2.2rem;
      }
      li + li {
        margin-left: 10px;
      }
    }
    .caption {
      text-align: center;
    }
    .tag {
      background: #ffc107;
      color: #000;
      padding: 3px 20px;
      display: inline-block;
      font-size: 1.4rem;
      text-decoration: none;
      -webkit-transition: .3s;
      transition: .3s;
      &:hover,
      &:active,
      &:focus {
        box-shadow: 0 14px 26px -12px rgba(0, 0, 0, 0.42),
                    0 4px 23px 0 rgba(0, 0, 0, 0.12),
                    0 8px 10px -5px rgba(0, 0, 0, 0.2);
      }
    }
    .backLink {
      position: absolute;
      left: 0;
      bottom: 14px;
      color: #fff;
      font-size: 3rem;
    }
  }

}
.textContentHolder {
  padding: 40px 0;
  p {
    font-size: 1.4rem;
    color: #515151;
    margin-bottom: 25px;
  }
  .bold {
    font-weight:bold;
    color: #000;
    margin-right: 10px;
  }
  .readMore {
    margin-bottom: 15px;
    a {
      color: $primaryColor;
      text-decoration: underline;
    }
  }
  .imgRight {
    float: right;
    margin: 0 0 15px 15px;
  }
  .imgLeft {
    float: left;
    margin: 0 15px 15px 0;
  }
  h2 {
    font-size: 2.4rem;
    margin-bottom: 25px;
    text-align: left;
    font-weight: 500;
  }
  .carouselHolder {
    position: relative;
    margin-bottom: 30px;
    .item {
      .imgHolder {
        height: 350px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: block;
      }
    }
    .carouselControl {
      display: block;
      width: 45px;
      height: 45px;
      text-align: center;
      line-height: 45px;
      vertical-align: middle;
      border-radius: 50%;
      background: #43a047;
      color: #fff;
      box-shadow: 0 2px 2px 0 rgba(43, 116, 46, 0.25), 0 3px 1px -2px rgba(43, 116, 46, 0.5), 0 1px 5px 0 rgba(43, 116, 46, 0.24);
      transition: box-shadow .3s;
      font-size: 3rem;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      &.left {
        left: -15px;
      }
      &.right {
        right: -15px;
      }
      &:hover,
      &:active,
      &:focus {
        box-shadow: 0 14px 26px -12px rgba(43, 116, 46, 0.64), 0 4px 23px 0 rgba(0, 0, 0, 0.24), 0 8px 10px -5px rgba(43, 116, 46, 0.4);
      }
    }
  }
}

.relatedProjectsHolder {
  background: #f5f5f5;
  padding: 55px 0;
  h3 {
    span {
      color: #2e7d32;
    }
  }
  .item {
    height: 100%;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    transition: .3s;
    max-width: 360px;
    margin: auto;
    &:hover {
      box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.58);
    }
    .img {
      height: 260px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      display: block;
    }
    .caption {
      padding: 25px;
      background-color: #fff;
      background-position: right bottom;
      background-repeat: no-repeat;
      border: 1px solid #e0e0e0;
      border-radius: 0 0 3px 3px;
      height: calc(100% - 260px);
    }
    &.mobileDev {
      .caption {
        background-image: url("../img/mobDev.png");
      }
    }
    &.webDev {
      .caption {
        background-image: url("../img/webDev.png");
      }
    }
    &.design {
      .caption {
        background-image: url("../img/design.png");
      }
    }
    h4 {
      margin-bottom: 15px;
      a {
        color: $primaryColor;
      }
    }
    .tag {
      background: $yellow;
      color: #000;
      padding: 3px 20px;
      display: inline-block;
      font-size: 1.4rem;
      text-decoration: none;
      transition: .3s;
      &:hover,
      &:active,
      &:focus {
        box-shadow: 0 14px 26px -12px rgba(0, 0, 0, 0.42),
        0 4px 23px 0 rgba(0, 0, 0, 0.12),
        0 8px 10px -5px rgba(0, 0, 0, 0.2);
      }
    }
  }
  .imgHolder {
    position: relative;
    &:hover {
      .moreHolder {
        opacity: 1;
        transform: scale(1);
      }
    }
  }
  .moreHolder {
    position: absolute;
    width: 100%;
    height:100%;
    left: 0;
    top: 0;
    background: rgba(0,0,0,.6);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
    opacity: 0;
    transform: scale(.1);
    a {
      color: #464646;
      padding: 10px 26px;
      text-transform: uppercase;
      text-align: center;
      display: inline-block;
      white-space: nowrap;
      background: #fff;
      position: relative;
      margin-top: 96px;
      z-index: 2;
      text-decoration: none;
      &:before {
        content: "";
        display: block;
        width: 89px;
        height: 99px;
        background: url("../img/mr.png") no-repeat;
        background-size: contain;
        position: absolute;
        top: -72px;
        z-index: -1;
        transition: .3s;
      }
      &:hover {
        &:before {
          top: -96px;
        }
      }
    }
  }
  .owl-carousel {
    .owl-nav {
      display: block;
      .owl-prev,
      .owl-next {
        display: block;
        width: 45px;
        height: 45px;
        text-align: center;
        line-height: 45px;
        vertical-align: middle;
        border-radius: 50%;
        background: #43a047;
        color: #fff;
        box-shadow: 0 2px 2px 0 rgba(43, 116, 46, 0.25), 0 3px 1px -2px rgba(43, 116, 46, 0.5), 0 1px 5px 0 rgba(43, 116, 46, 0.24);
        transition: box-shadow .3s;
        font-size: 3rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        &:hover,
        &:active,
        &:focus {
          box-shadow: 0 14px 26px -12px rgba(43, 116, 46, 0.64), 0 4px 23px 0 rgba(0, 0, 0, 0.24), 0 8px 10px -5px rgba(43, 116, 46, 0.4);
        }
      }
      .owl-prev {
        left: -15px;
      }
      .owl-next {
        right: -15px;
      }
    }
  }
}

.menuTrigger {
  display: block;
  width: 40px;
  height: 24px;
  span {
    height: 4px;
    background: #fff;
    display: block;
    border-radius: 2px;
  }
  span + span {
    margin-top: 6px;
  }
}

.workingScheme {
  .owl-nav {
    display: block;
    .owl-prev,
    .owl-next {
      display: block;
      width: 45px;
      height: 45px;
      text-align: center;
      line-height: 45px;
      vertical-align: middle;
      border-radius: 50%;
      background: #43a047;
      color: #fff;
      box-shadow: 0 2px 2px 0 rgba(43, 116, 46, 0.25), 0 3px 1px -2px rgba(43, 116, 46, 0.5), 0 1px 5px 0 rgba(43, 116, 46, 0.24);
      transition: box-shadow .3s;
      font-size: 3rem;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      &:hover,
      &:active,
      &:focus {
        box-shadow: 0 14px 26px -12px rgba(43, 116, 46, 0.64), 0 4px 23px 0 rgba(0, 0, 0, 0.24), 0 8px 10px -5px rgba(43, 116, 46, 0.4);
      }
    }
    .owl-prev {
      left: 0;
    }
    .owl-next {
      right: 0;
    }
  }
}

.modalBody {
  padding: 20px 30px;
}

.modal-header {
  border-bottom: 0;
  background: $primaryColor;
  color: #fff;
  text-align: center;
}

.modal-content {
  border-radius: 0;
}

.confirmOrderHolder {
  .headingImgHolder {
    height: 350px;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .effect {
      background: rgba(0,0,0,.6);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .wrapper {
      position: relative;
      z-index: 2;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding: 20px 0;
    }
    .mainContainer {
      height: 100%;
    }
    h1 {
      font-size: 3rem;
      color: #fff;
    }
    .caption {
      text-align: center;
    }
    .backLink {
      position: absolute;
      left: 0;
      bottom: 14px;
      color: #fff;
      font-size: 3rem;
    }
  }
}

.confirmOrderFormHolder {
  .form-control {
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #c5c5c5;
    background: transparent;
    box-shadow: none;
    outline: none;
    font-size: 1.8rem;
    padding: 10px 12px 10px 30px;
    height: auto;
    resize: none;
    color: #000;
    &::-webkit-input-placeholder {color:#c5c5c5;}
    &::-moz-placeholder          {color:#c5c5c5;}
    &:-moz-placeholder           {color:#c5c5c5;}
    &:-ms-input-placeholder      {color:#c5c5c5;}
  }
  .iputHolder {
    position: relative;
    color: $yellow;
    .zmdi {
      font-size: 2.5rem;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
    }
  }
  .buttonHolder {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .checkbox {
      margin-left: 30px;
      font-size: 1.6rem;
    }
  }
  .form-group {
    margin-bottom: 30px;
  }
}