@media (max-width: 991px) {
  .mainContainer {
    width: 750px;
  }
  .mainHeader {
    .wrapper {
      flex-wrap: wrap;
    }
    .mainMenu {
      width: 100%;
      max-width: none;
      order: 3;
      display: block;
      overflow-y: hidden;
      max-height: 500px;
      transition-property: all;
      transition-duration: .5s;
      transition-timing-function: cubic-bezier(0.5, 1, 0.5, 1);
      border-top: 1px solid #fff;
      margin-top: 15px;
      &.closed {
        max-height: 0;
        padding-top: 0;
        border-top: 0;
        margin-top: 0;
      }
      a {
        display: inline-block;
        padding-left: 0;
        text-decoration: none;
        transition: .2s;
        &:hover,
        &:active,
        &:focus {
          color: #e6e6e6;
        }
      }
    }
    .logo {
      order: 1;
    }
    .menuTrigger {
      order: 2;
    }
  }
  .servicesSlide {
    .figuresWrapper {
      .figure {
        width: 50%;
      }
    }
  }
  .workingScheme {
    .owl-nav {
      display: block;
    }
  }
  .gallerySlide {
    .galleryHolder {
      .filter {
        li {
          a {
            font-size: 1.4rem;
            font-weight: 500;
          }
        }
      }
      .itemsHolder {
        .item {
          .img {
            height: 220px;
          }
        }
      }
    }
  }
  .leaveCommentFormHolder {
    margin-bottom: 30px;
  }
  .projectItemsHolder {
    .itemHolder {
      width: 50%;
      &.mainItem {
        width: 100%;
      }
    }
  }

  .projectsMenu {
    align-items: flex-start;
    .menuHolder {
      width: 100%;
    }
    .menu {
      display: block;
      overflow-y: hidden;
      max-height: 500px;
      transition-property: all;
      transition-duration: .5s;
      transition-timing-function: cubic-bezier(0.5, 1, 0.5, 1);
      li {
        display: block;
        border: 0;
        text-align: left;
        a {
          display: block;
          padding: 12px 0;
          &:hover,
          &:active,
          &:focus {
            padding: 12px 20px;
          }
        }
        &.active {
          a {
            padding: 12px 20px;
          }
        }
      }
      &.closed {
        max-height: 0;
      }
    }
    .filterTrigger {
      font-size: 42px;
      line-height: 1em;
      color: $primaryColor;
    }
  }
  .gallerySlide {
    .galleryHolder {
      .filter {
        max-height: 500px;
        display: block;
        overflow-y: hidden;
        transition-property: all;
        transition-duration: .5s;
        transition-timing-function: cubic-bezier(0.5, 1, 0.5, 1);
        li {
          a {
            text-align: left;
            padding-left: 0;
            padding-right: 0;
            transition: .3s;
            &:hover,
            &:active,
            &:focus {
              background: #43a047;
              color: #fff;
              text-transform: uppercase;
              box-shadow: 0 2px 2px 0 rgba(43, 116, 46, 0.14), 0 3px 1px -2px rgba(43, 116, 46, 0.2), 0 1px 5px 0 rgba(43, 116, 46, 0.12);
              padding-left: 26px;
              padding-right: 26px;
            }
          }
          &.active {
            a {
              padding-left: 26px;
              padding-right: 26px;
              text-align: left;
              display: block;
            }
          }
        }
        &.closed {
          max-height: 0;
        }
      }
    }
  }
  .blogListHolder {
    .filter {
      max-height: 500px;
      display: block;
      overflow-y: hidden;
      transition-property: all;
      transition-duration: .5s;
      transition-timing-function: cubic-bezier(0.5, 1, 0.5, 1);
      li {
        a {
          text-align: left;
          padding-left: 0;
          padding-right: 0;
          transition: .3s;
          &:hover,
          &:active,
          &:focus {
            background: #43a047;
            color: #fff;
            text-transform: uppercase;
            box-shadow: 0 2px 2px 0 rgba(43, 116, 46, 0.14), 0 3px 1px -2px rgba(43, 116, 46, 0.2), 0 1px 5px 0 rgba(43, 116, 46, 0.12);
            padding-left: 26px;
            padding-right: 26px;
          }
        }
        &.active {
          a {
            padding-left: 26px;
            padding-right: 26px;
            text-align: left;
            display: block;
          }
        }
      }
      &.closed {
        max-height: 0;
      }
    }
  }
}