@media (max-width: 480px) {
  .headingSlide {
    .btnSecondary {
      padding: 16px 20px;
      border-radius: 3px;
      width: 100%;
    }
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.2rem;
  }
  .servicesSlide {
    .figuresWrapper {
      .figure {
        width: 100%;
      }
    }
  }
  .gallerySlide {
    .galleryHolder {
      .filter {
        display: block;
        li {
          a {
            display: inline-block;
          }
        }
      }
      .itemsHolder {
        .item {
          width: 100%;
          order: 1;
          &.moreProjects {
            order: 2;
          }
        }
      }
    }
  }
  .projectsSlide {
    .wrapper {
      .item {
        width: 100%;
      }
    }
  }
  .feedBackFormSlide {
    .buttonHolder {
      flex-wrap: wrap;
      .btnPrimary {
        order: 2;
        margin: auto;
      }
      .checkbox {
        margin-left: 0;
        order: 1;
      }
    }
  }
  .commentsTabsHolder {
    .navTabs {
      li {
        display: none;
        &.active {
          display: block;
        }
      }
      li + li {
        margin-left: 0;
      }
    }
  }
}