@media (max-width: 767px) {
  .mainContainer {
    width: 100%;
  }
  .mainFooter {
    font-size: 1.2rem;
  }
  h1 {
    font-size: 4rem;
  }
  .headingSlide {
    p {
      font-size: 1.6rem;
    }
    .btnSecondary {
      padding: 16px 120px;
      border-radius: 3px;
    }
  }
  h2 {
    font-size: 2.8rem;
  }
  .gallerySlide {
    .galleryHolder {
      .itemsHolder {
        .item {
          width: 50%;
        }
      }
      .filter {
        li {
          a {
            font-weight: 400;
            padding: 10px 12px;
          }
        }
      }
    }
  }
  .projectsSlide {
    .wrapper {
      flex-wrap: wrap;
      .item {
        width: 50%;
        padding: 15px;
      }
    }
  }
  .feedBackFormSlide {
    .buttonHolder {
      .checkbox {
        font-size: 1.2rem;
      }
    }
  }

  .blogFullItem {
    .heading {
      flex-wrap: wrap;
      .date {
        display: flex;
        align-items: center;
        padding: 0 5px;
        margin-bottom: 10px;
        .day {
          font-size: 1.6rem;
        }
        .month {
          font-size: 1.6rem;
          margin-left: 10px;
        }
        .year {
          font-size: 1.6rem;
          margin-left: 10px;
        }
      }
    }
    .infoLine {
      flex-wrap: wrap;
    }
    .blogItemText {
      .rightImg,
      .leftImg {
        float: none;
        margin: 25px 0;
        max-width: 100%;
      }
    }
    .postNav {
      .next,
      .prev {
        .caption {
          display: none;
        }
      }
    }
  }
  .commentsListHolder {
    .comments {
      .img {
        width: 50px;
        height: 43px;
      }
      .infoLine {
        flex-wrap: wrap;
        .msgInfo {
          flex-wrap: wrap;
        }
      }
      .content {
        width: calc(100% - 50px);
      }
    }
  }
  .projectItemsHolder {
    .itemHolder {
      width: 100%;
      margin: auto;
      &.mainItem {
        width: 100%;
        max-width: none;
      }
    }
  }
  .portfolioItemHolder {
    .textContentHolder {
      .imgRight,
      .imgLeft {
        float: none;
        margin: 15px 0;
        width: auto;
        max-width: 100%;
      }
    }
  }
  .headingSlide {
    height: 510px;
  }
}