@media (max-width: 1200px) {
  .mainContainer {
    width: 970px;
  }
  .mainHeader {
    .mainMenu {
      width: calc(100% - 200px);
      max-width: none;
    }
  }
  .advSlide {
    .right {
      display: none;
    }
    .left {
      width: 100%;
    }
  }
  .gallerySlide {
    .galleryHolder {
      .itemsHolder {
        .item {
          .img {
            height: 300px;
          }
        }
      }
    }
  }
  .blogListItem {
    flex-wrap: wrap;
    .date {
      display: flex;
      align-items: center;
      padding: 0 5px;
      margin-bottom: 10px;
      background: transparent;
      color: #a5a5a5;
      padding-left: 0;
      font-size: 12px;
      .day {
        font-size: 1.6rem;
      }
      .month {
        font-size: 1.6rem;
        margin-left: 10px;
      }
      .year {
        font-size: 1.6rem;
        margin-left: 10px;
      }
    }
  }
  .blogListItem {
    .itemPreview {
      flex-wrap: wrap;
      .img {
        width: 100%;
        margin-bottom: 15px;
      }
      .text {
        width: 100%;
        padding-left: 0;
      }
    }
    .infoLine {
      flex-wrap: wrap;
    }
  }
  .projectsMenu {
    .menu {
      li {
        a {
          font-size: 1.3rem;
        }
      }
    }
  }
}