$fontFamily: 'Roboto', sans-serif;
$primaryColor: #43a047;
$secondaryColor: #2e7d32;
$yellow: #ffc107;
$fontColor: #515151;
$fontSize: 1.4rem;
$darkGrey: rgba(51,51,51,.6);
$slidePadding: 80px 0;
@mixin blockShadow($color) {
  box-shadow: 0 4px 13px 0 $color;
}
@mixin blockDblShadow($color) {
  box-shadow: 0 0 13px 2px $color;
}